<form name="referenz" method="post" action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">
<?php

// print_r($display['arrayData']);

// foreach ($display['arrayData']['allmakes'] as $value){
//     // print_r($key);
//     echo '<br>';
//     print_r($value);
// }
// print_r($display['arrayData']);
// print_r($display['arrayData']['referenz']['carmaker']->car_makes_idcar_makes);
// print_r($display['arrayData']['referenz']['carselected']);
?>
<div class="heading-title text-center margin-bottom-80"><br>
	<h3>Deine Referenz</h3>
	<p>Bitte starten Sie von links nach rechts.&nbsp;&nbsp;<a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="1&#41; Beginnen mit Make des Autos. 2&#41; Dann fahren Sie mit dem Auto-Modell. 3&#41; Wählen Sie Bod. 4.&#41; Wählen Sie Auto-Generation"><i class="fa fa-info-circle" aria-hidden="true" ></i></a></p>

</div>
<div class="row reference-area centerthistext">
	 <div id="carmakerdiv" class="col-md-3">
         <select id="carmaker" name="carmaker" style="width:250px;" onchange="createCarModel();">
            <option value="" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Sie Ihre Automarke">Marke</option>
            <?php if ($display['arrayData']['referenz']['carmaker']): ?>
                <option value="<?=$display['arrayData']['referenz']['carmaker']->idcar_makes;?>" data-image="<?=base_url('assets-custom/images/'.$display['arrayData']['referenz']['carmaker']->iconurl);?>" data-description="Wählen Sie Ihre Automarke" selected><?=$display['arrayData']['referenz']['carmaker']->maker;?></option>
            <?php endif; ?>
            <?php foreach ($display['arrayData']['allmakes'] as $value): ?>
                <option value="<?=$value->idcar_makes;?>" data-image="<?=base_url('assets-custom/images/'.$value->iconurl);?>"  data-description="Wählen <?=$value->maker;?>..."><?=ucwords($value->maker);?></option>    
            <?php endforeach; ?>
        </select> 
    </div>
    <div id="carmodeldiv" class="col-md-3">
        <select id="carmodel" name="carmodel" style="width:250px;" onchange="createCarBodyType();">
            <option value="" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Automarke">Modell</option>
            <?php if ($display['arrayData']['referenz']['carmodel']): ?>
                <option value="<?=$display['arrayData']['referenz']['carmodel'];?>" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Automarke" selected><?=$display['arrayData']['referenz']['carmodel']?></option>
            <?php endif; ?>
        </select>
    </div>
    <div id="carbodytypediv" class="col-md-3">
        <select id="carbodytype" name="carbodytype" style="width:250px;" onchange="createCarGeneration();">
            <option value="" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Automodell">Karosserie</option>
            <?php if ($display['arrayData']['referenz']['carbodytype']): ?>
                <option value="<?=$display['arrayData']['referenz']['carbodytype'];?>" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Automarke" selected><?=$display['arrayData']['referenz']['carbodytype']?></option>            
            <?php endif; ?>
        </select>
    </div>
    <div id="cargenerationdiv" class="col-md-3">
        <select id="cargeneration" name="cargeneration" style="width:250px;">
            <option value="" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Fahrzeugtyp">Generation</option>
            <?php if ($display['arrayData']['referenz']['cargeneration']): ?>
                <option value="<?=$display['arrayData']['referenz']['cargeneration'];?>" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Automarke" selected><?=$display['arrayData']['referenz']['cargeneration']?></option>            
            <?php endif; ?>
        </select>
    </div>
</div>
<div class="row centerthistext" id="reference-area-display">
    <?php if (!empty($display['arrayData']['referenz']['carselected']->carpicturearray->pictureurl)): ?>
        <img src="<?=base_url('assets-custom/images/'.$display['arrayData']['referenz']['carselected']->carpicturearray->pictureurl);?>" id="img-car-result" alt="Result Here" />
    <?php else: ?>
        Wir alle kennen ein Auto besonders gut.<br>
        Wir wollen das Auto kennen, das du am besten kennst-damit wir deine Vorstellungen richtig einschätzen können.
    <?php endif;?>
</div>
<div class="row">
	<div class="col-xs-6">
		<a class="thebutton" href="<?=base_url('deinegrundlagen');?>">&lt;</a>
	</div>

	<div class="col-xs-6 therightaligmtext">
		<input type="submit" class="thebutton" value="&gt;" />
	</div>
</div>
<link href="<?=base_url("assets-custom/css/advisory-process-deine-referenz.css");?>" rel="stylesheet" type="text/css" />
</form>