<?php 
// print_r($display['data-results']);
// echo 'thearraycount:'.(count($display['data-results']['carpicture']));
// print_r($display['data-results']['carInformation']->engine);
// print_r($display['data-results']);
?>
<div class="centerthistext">
	<h3><?=$display['data-results']['carInformation']->make;?> <?=$display['data-results']['carInformation']->model;?> - <?=number_format($display['data-results']['carInformation']->dprice, 2, ',', '.'); ?> €</h3>
	<div class="row" id="img-map-area">
		<div class="col-md-8">
			
			<div id="img-area-for-cars" class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"singleItem": true, "autoPlay": <?=(count($display['data-results']['carpicture']) > 1) ?  'true' : 'false' ?>, "navigation": true, "pagination": true, "transitionStyle":"fade"}'>
				<?php foreach ($display['data-results']['carpicture'] as $value): ?>
				<div>
					<a class="image-hover lightbox" href="<?=base_url('assets-custom/images/'.$value->pictureurl);?>" data-plugin-options='{"type":"image"}'>
						<span class="image-hover-icon image-hover-dark">
							<i class="fa fa-search-plus"></i>
						</span>
						<img class="img-responsive" src="<?=base_url('assets-custom/images/'.$value->pictureurl);?>" alt="">
					</a>
				</div>
				<?php endforeach; ?>				
			</div>
		</div>
		<div class="col-md-4">
			<a  href="<?=base_url('testdrive?idcar='.$display['data-results']['carInformation']->idcar);?>" class="btn btn-featured btn-default " id="button-test-drive" data-target=".bs-example-modal-full" data-toggle="modal">
				<span>TEST DRIVE</span>
				<i class="fa fa-car"></i>
			</a>
			<div class="height-300" id="map3"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div id="circle-left-area">
				<div class="valign-middle-cell">
					<h3><?=$display['data-results']['carInformation']->make;?> <?=$display['data-results']['carInformation']->model;?></h3>
					<ul>
						<li class="size-20"><?=$display['data-results']['carInformation']->power;?> bhp</li>
						<li class="size-20"><?=$display['data-results']['carInformation']->transmission;?> Transmission</li>
						<li class="size-20"><?=$display['data-results']['carInformation']->engine;?> Engine</li>
						<li class="size-20"><?=(@$display['data-results']['carInformation']->displacement > 0) ? number_format($display['data-results']['carInformation']->displacement, 2, ',', '.') : 'No';?> displacement</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div id="cicle-right-area">
				<div class="valign-middle-cell">
					<?php if (count($display['data-results']['pros']) > 0): ?>
					<div class="row paralike">
						<div class="col-xs-2">
							<i class="fa fa-thumbs-up size-50"></i>
						</div>
						<div class="col-md-10 size-18">
							<ul>
								<?php foreach ($display['data-results']['pros'] as $value): ?>
								<li><?=$value?></li>
								<?php endforeach; ?>
							</ul>
						</div>
					</div>
					<?php endif; ?>
					<?php if (count($display['data-results']['cons']) > 0): ?>
					<div class="row paradislike">
						<div class="col-xs-2">
							<i class="fa fa-thumbs-down size-50"></i>
						</div>
						<div class="col-md-10 size-18">
							<ul>
								<?php foreach ($display['data-results']['cons'] as $value): ?>
								<li><?=$value?></li>
								<?php endforeach; ?>
							</ul>
						</div>
					</div>
					<?php endif; ?>
				</div>
			</div>
		</div>
	</div>
	<h3>Available Engines</h3>
	<div class="row" id="similar-engine">
		<?php 
			// print_r($display['similar']);
		?>
		<ul>
			<?php foreach ($display['similar'] as $engine): ?>
				<li>
					<a href="<?=base_url('/deinresultat/mehrinformationen?idcar='.$engine->idcar)?>" <?=($engine->idcar == $display['data-results']['carInformation']->idcar) ? 'id="selected-engine"' : ''?>>
						<?=$engine->engine?>
						<?=(strcasecmp($engine->fuel, $engine->fueltype) ==0) ? $engine->fuel : $engine->fueltype.' '.$engine->fuel?>,
						<?=$engine->power?> <?=(strcasecmp($engine->fuel, 'elektro')==0) ? 'kW' : 'hp' ?>

					</a></li>
			<?php endforeach; ?>
		</ul>
	</div>

	<h3>Body Types</h3>
	<div class="row" id="similar-type">
		<ul>
			<?php foreach ($display['bodytypes'] as $bodytypes): ?>
				<li>
					<a href="<?=base_url('/deinresultat/mehrinformationen?idcar='.$bodytypes->idcar)?>"><img src="<?=base_url('assets-custom/images/'.$bodytypes->iconurl);?>" alt="" /><br><?=$bodytypes->body?></a>
				</li>
			<?php endforeach; ?>
		</ul>
	</div>
</div>
<div id="modal-resultat" class="modal fade bs-example-modal-full" tabindex="-1" role="basic" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-full">
		<div class="modal-content" id="popup-content">

			<div class="text-center" >
				<img src="assets/images/loaders/7.gif" alt="" />
			</div>

		</div>
	</div>
</div>