<?php 
// just a test

// print_r($display['arrayData']);
// echo '<br>error';
print_r(validation_errors());
$this->maxvalueslider = 150000;
?>

<form name="grundlagen" method="post" action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">
<div class="heading-title text-center margin-bottom-80"><br>
	<h3>Deine Grundlagen</h3>
	<p>Passen Sie den Schieberegler an die gewünschte Option an.</p>
</div>

<div class="row">
	<div class="col-md-6">
		

		<div class="margin-bottom-20">
			<h4>Preis <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Passen Schieber auf den gewünschten Preis"><i class="fa fa-info-circle" aria-hidden="true"  ></i></a></h4>
			<div id="moneydisplay">
				<?php if (!empty($display['arrayData']['uiPrice'])): ?>
					<?php
						$loopcount = round($display['arrayData']['uiPrice'] / $this->maxvalueslider * 40);
						// $loopcount = $display['arrayData']['uiPrice'];
					?>
					<?php while ($loopcount > 0) : ?>
						<i class="fa fa-money moneyfigure" aria-hidden="true" id="moneynisiya" ></i>
						<?php $loopcount--; ?>
						<?php if (($loopcount%8) == 0)
							echo '<br>';
						?>
					<?php endwhile; ?>
				<?php else: ?>
					<i class="fa fa-money moneyfigure" aria-hidden="true" id="moneynisiya" ></i>
				<?php endif; ?>
			</div>
			<label class="field">
				<input type="hidden" id="moneyvalue" name="uiPrice" class="form-control" required>
			</label> 
		</div>  
	</div>
	<div class="col-md-6">

		<div class="slider-wrapper black-slider">
			
		<div id="price-div" >
			&nbsp;
		</div>
			<div id="slider5"></div>
		</div>
	</div>
</div>
<div class="row">

	<div class="col-md-6">
		
		<div class="margin-bottom-20">
			<h4>Anzahl der Passagiere <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Passen Sie auf die Anzahl der Passagiere"><i class="fa fa-info-circle" aria-hidden="true"  ></i></a></h4>
			<div id="passengerdisplay">
				
				<?php if (!empty($display['arrayData']['uiPassenger'])): ?>
					<?php
						$loopcount = $display['arrayData']['uiPassenger'];
					?>
					<?php while ($loopcount > 0) : ?>
						<img src="<?=base_url('assets-custom/images/icon-passenger.png');?>" alt="" id="passengersiya" / >
						<?php $loopcount--; ?>
					<?php endwhile; ?>
				<?php else: ?>
					<img src="<?=base_url('assets-custom/images/icon-passenger.png');?>" alt="" id="passengersiya" / >
					<img src="<?=base_url('assets-custom/images/icon-passenger.png');?>" alt="" id="passengersiya" / >
					<img src="<?=base_url('assets-custom/images/icon-passenger.png');?>" alt="" id="passengersiya" / >
					<img src="<?=base_url('assets-custom/images/icon-passenger.png');?>" alt="" id="passengersiya" / >
				<?php endif; ?>
			</div>
			<label class="field">
				<input type="hidden" id="text-passengers" name="uiPassenger" class="form-control">
			</label> 
		</div>  
	</div>
	<div class="col-xs-6">
		<div class="slider-wrapper black-slider">
			<div id="passenger-div">
				&nbsp;
			</div>
			<div id="slider-passengers"></div>
			
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		&nbsp;
	</div>

	<div class="col-md-6 therightaligmtext">
		<!-- <a class="thebutton" href="<?=base_url('deinereferenz');?>">&gt;</a><br> -->
		<input type="submit" class="thebutton" value="&gt;" />
	</div>
</div>
<link href="<?=base_url("assets-custom/css/advisory-process-deine-grundlagen.css");?>" rel="stylesheet" type="text/css" />
</form>
