<link href="<?=base_url("assets-custom/css/advisory-process-dein-design.css");?>" rel="stylesheet" type="text/css" />

<script type="text/javascript">
// timer for how much the user spent on the page.
var start;
var car = <?=@$display['arrayData']['deindesign']['carfornow']['carInformation']->idcar?>;

$(document).ready(function() {
  start = new Date();


$(window).on('beforeunload', function(){
 	 end = new Date();
 	 var timespent =  end - start;
      $.ajax({ 
    url: BASEURLL + "deindesign/logtime",
    data: {'milliseconds': end - start, 'car': car }
  });
 });

});
</script>