<link href="<?=base_url("assets-custom/css/advisory-process-marken.css");?>" rel="stylesheet" type="text/css" />
<script type="text/javascript" >
$(document).ready(function(e) 
{
	$('.img-markeners').animate({opacity: 0.2}, 1000);
	// logo appears when it is in the list in the session.
	$(".initial-selection").animate({opacity: 1}, 1000);

<?php foreach ($display['arrayData']['marken']['logos'] as $value):?>
	<?php 
		$nameString = explode(' ', $value['logoInformation']->maker);
	?>
	$("#logo-<?=strtolower($nameString[0]);?>").click(function(){
		if($(this).css('opacity') == 1){
			$(this).animate({opacity:0.2}, 1000);
			$('#<?=$value['logoInformation']->idcar_makes?>').val(0);
		} else{
			$(this).animate({opacity:1}, 1000);
			$('#<?=$value['logoInformation']->idcar_makes?>').val(1);
		}
	});
<?php endforeach; ?>

	
});
</script>