<!-- required [php action request] -->
<input type="hidden" name="action" value="contact_send" />
<fieldset>
	<div class="form-group">
		<div class="row">
			<div class="col-md-12">
				<label>Full Name *</label>
				<input type="text" name="full_name" value="" class="form-control required">
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<label>Email *</label>
				<input type="email" name="email" value="" class="form-control required">
			</div>
			<div class="col-md-6 col-sm-6">
				<label>Phone</label>
				<input type="text" name="phone" value="" class="form-control" >
			</div>
		</div>
	</div>
	<div class="fancy-form form-group">
		<div  class="row">
			<div class="col-md-12">
				<textarea rows="5" class="form-control word-count required" name="messages" data-maxlength="200" data-info="textarea-words-info" placeholder="Message..."><?= isset($display['popup-messages']) ? $display['popup-messages'] : 'Liebes Coco Car Team, Ich würde den Mazda 3 gerne beim Autohaus Stuttgart Probe fahren.' ?></textarea>


				<span class="fancy-hint size-11 text-muted">
					<strong>Hint:</strong> 200 words allowed!
					<span class="pull-right">
						<span id="textarea-words-info">0/200</span> Words
					</span>
				</span>
			</div>
		</div>
	</div>


</fieldset>
<link rel="stylesheet" type="text/css" href="<?=base_url('assets-custom/css/advisory-process-individual-advice.css');?>" />
<script type="text/javascript">


	jQuery(document).ready(function(){
		jQuery('#submit-form').click(function(){
			jQuery('#submit-form').val('loading ...');
		});

		$('input[type="submit"]').prop('disabled', true);
	    $('input[type="text"]').keyup(function() {
	        if($(this).val() != '') {
	           $('input[type="submit"]').prop('disabled', false);
	        }
	    });


		_form();

		/** Textarea Words Limit
		 *********************** **/
		jQuery("textarea.word-count").on('keyup', function() {
			var _t		= jQuery(this),
				words 	= this.value.match(/\S+/g).length,
				_limit	= _t.attr('data-maxlength') || 200;

			if (words > parseInt(_limit)) {

				// Split the string on first 200 words and rejoin on spaces
				var trimmed = _t.val().split(/\s+/, 200).join(" ");
				// Add a space at the end to keep new typing making new words
				_t.val(trimmed + " ");

			} else {

				var _data_info = _t.attr('data-info');

				if(_data_info == '' || _data_info == undefined) {
					var _infoContainer = _t.next('div');
					jQuery('span', _infoContainer).text(words + '/' + _limit);
				} else {
					jQuery('#' +_data_info).text(words + '/' + _limit);
				}


			}
		});


		/** Form [form plugin + validation plugin]
 **************************************************************** **/
	function _form() {


		/** Form Validate 
			LOAD PLUGIN ONLY!
		 ************************ **/
		if(jQuery('form.validate-plugin').length > 0) {

			loadScript(plugin_path + 'form.validate/jquery.form.min.js', function() {
				loadScript(plugin_path + 'form.validate/jquery.validation.min.js');
			});

		}



		/** Form Validate
		 ************************ **/
		if(jQuery('form.validate').length > 0) {

			loadScript(plugin_path + 'form.validate/jquery.form.min.js', function() {
				loadScript(plugin_path + 'form.validate/jquery.validation.min.js', function() {

					if(jQuery().validate) {

						jQuery('form.validate').each(function() {

							var _t 			= jQuery(this),
								_Smessage 	= _t.attr('data-success') 			|| "Successfully! Thank you!",
								_Cmessage 	= _t.attr('data-captcha') 			|| "Invalid Captcha!",
								_Tposition 	= _t.attr('data-toastr-position') 	|| "top-right",
								_Ttype	 	= _t.attr('data-toastr-type') 		|| "success";
								_Turl	 	= _t.attr('data-toastr-url') 		|| false;

							// Append 'is_ajax' hidden input field!
							_t.append('<input type="hidden" name="is_ajax" value="true" />');

							_t.validate({
								submitHandler: function(form) {

									// Show spin icon
									jQuery(form).find('.input-group-addon').find('.fa-envelope').removeClass('fa-envelope').addClass('fa-refresh fa-spin');

									jQuery(form).ajaxSubmit({

										target: 	jQuery(form).find('.validate-result').length > 0 ? jQuery(form).find('.validate-result') : '',

										error: 		function(data) { 
											_toastr("Sent Failed!",_Tposition,"error",false);
										},

										success: 	function(data) {
											var data = data.trim();

											// SMTP ERROR
											if(data == '_failed_') {
												_toastr("SMTP ERROR! Please, check your config file!",_Tposition,"error",false);
											}

											// CAPTCHA ERROR
											else if(data == '_captcha_') {
												_toastr("Invalid Captcha!",_Tposition,"error",false);


											// SUCCESS
											} else {

												// Remove spin icon
												jQuery(form).find('.input-group-addon').find('.fa-refresh').removeClass('fa-refresh fa-spin').addClass('fa-envelope');

												// Clear the form
												jQuery(form).find('input.form-control').val('');

												// Toastr Message
												_toastr(_Smessage,_Tposition,_Ttype,_Turl);


												jQuery('#modal-resultat').modal('hide');
												jQuery('#submit-form').val('Anfrage sendan');
												// jQuery('input[type="submit"]').prop('disabled', false);
											
											}
										}
									});

								}
							});

						});

					}

				});
			});

		}




		/** Masked Input
		 ************************ **/
		var _container = jQuery('input.masked');
		if(_container.length > 0) {

			loadScript(plugin_path + 'form.masked/jquery.maskedinput.js', function() {
				
				_container.each(function() {
				
					var _t 				= jQuery(this);
						_format 		= _t.attr('data-format') 		|| '(999) 999-999999',
						_placeholder 	= _t.attr('data-placeholder') 	|| 'X';

					jQuery.mask.definitions['f'] = "[A-Fa-f0-9]";
					_t.mask(_format, {placeholder:_placeholder});

				});
				
			});

		}

	}


	});



</script>