<!-- <msdropdown> -->
<link rel="stylesheet" type="text/css" href="<?=base_url('assets-custom/css/msdropdown/dd.css');?>" />
<script src="<?=base_url('assets-custom/js/msdropdown/jquery.dd.min.js');?>"></script>
<!-- </msdropdown> -->          

<script type="text/javascript" >
$(document).ready(function(e) {
	$("#payments").msDropdown({visibleRows:4});
	$("#tech").msDropdown().data("dd");//{animStyle:'none'} /{animStyle:'slideDown'} {animStyle:'show'}		
	//no use
	try {
		var pages = $("#pages").msDropdown({on:{change:function(data, ui) {
												var val = data.value;
												if(val!="")
													window.location = val;
											}}}).data("dd");

		var pagename = document.location.pathname.toString();
		pagename = pagename.split("/");
		pages.setIndexByValue(pagename[pagename.length-1]);
		$("#ver").html(msBeautify.version.msDropdown);
	} catch(e) {
		//console.log(e);	
	}
	
	$("#ver").html(msBeautify.version.msDropdown);
});

</script>