<script type="text/javascript" src="assets-custom/js/deine-grundlagen.js" ></script>
<script type="text/javascript" >

var defaultMoneyvalue = <?=!empty($display['arrayData']['uiPrice']) ?  $display['arrayData']['uiPrice'] : 29000 ?>;
var defaultPassengersvalue = <?=!empty($display['arrayData']['uiPassenger']) ?  $display['arrayData']['uiPassenger'] : 4 ?>;
var maxvalueslider = <?=$this->maxvalueslider;?>;
var maxvaluesliderpassenger = 8;

$(document).ready(function(e) 
{

  $('#price-div').html(defaultMoneyvalue+'€');
  $('#passenger-div').html(defaultPassengersvalue);

});
</script>