<?php 

// foreach ($display['arrayData']['deindesign']['selectedcars'] as $value) {
// 	print_r(round($value['totalCoefficient'] * 100).'%');
// 	print_r($value['carInformation']->model);
// 	echo '<br>';
// }

// echo '<br><br><br>';
if (count($display['arrayData']['deindesign']['selectedcars']) >= 2) {
	$arrayForOne = $display['arrayData']['deindesign']['selectedcars'][0];
	// $display['arrayData']['deindesign']['selectedcars']['temporary'] = $display['arrayData']['deindesign']['selectedcars'][0];
	$display['arrayData']['deindesign']['selectedcars'][0] = $display['arrayData']['deindesign']['selectedcars'][1];
	$display['arrayData']['deindesign']['selectedcars'][1] = $arrayForOne;
	
	// unset($display['arrayData']['deindesign']['selectedcars']['temporary']);
}

// foreach ($display['arrayData']['deindesign']['selectedcars'] as $value) {
// 	print_r(round($value['totalCoefficient'] * 100).'%');
// 	print_r($value['carInformation']->model);
// 	echo '<br>';
// }

?>
<div class="row heading-title text-center margin-bottom-80"><br>
	<h3>Deine Resultat</h3>
</div>
<div class="row social-buttons ">
	<div class="col-xs-6 rightthistext">
		<a class="btn btn-social btn-facebook button-sharer"  href="http://www.facebook.com/sharer/sharer.php
		?u=<?=urlencode('http://13.95.235.145/deinresultat'); ?>&app_id=222237898188445&p[images][0]=<?=urlencode('http://13.95.235.145/assets/images/logo_light.png')?>&title=<?=urlencode('Finden Sie das passende Auto für Sie')?>">
			<i class="fa fa-facebook"></i> <span class="hidden-xs">Mit Facebook anmelden</span>
		</a>
	</div>


<div class="col-xs-6 leftthistext">
		<a class="btn btn-social btn-twitter button-sharer" href="http://twitter.com/intent/tweet?status=<?=urlencode('Finden Sie das passende Auto für Sie')?>+<?=urlencode('http://13.95.235.145/deinresultat'); ?>">
			<i class="fa fa-twitter"></i> <span class="hidden-xs">Mit Twitter anmelden</span>
		</a>
	</div>
</div>
<div class="row centerthistext">
	<a href="javascript:void();"><img src="<?=base_url('assets-custom/images/icon-trailer.jpg');?>" id="icon-trailer" alt="" class="icon-resultat" /></a>
	<a href="javascript:void();"><img src="<?=base_url('assets-custom/images/icon-electriccar.jpg');?>" id="icon-electriccar" alt="" class="icon-resultat" /></a>
	<!-- <a href="javascript:void();"><img src="<?=base_url('assets-custom/images/icon-seatbelt.png');?>" id="icon-seatbelt" alt="" class="icon-resultat" /></a> -->
	<a href="javascript:void();"><img src="<?=base_url('assets-custom/images/icon-automatic.png');?>" id="icon-automatic" alt="" class="icon-resultat" /></a>
	<a href="javascript:void();"><img src="<?=base_url('assets-custom/images/icon-chasis.png');?>" id="icon-chasis" alt="" class="icon-resultat" /></a>
</div>
<div class="row">
	<input type="hidden" id="checkbox-trailer" name="checkbox-trailer" value="0" />
	<input type="hidden" id="checkbox-electriccar" name="checkbox-electriccar" value="0" />
	<input type="hidden" id="checkbox-seatbelt" name="checkbox-seatbelt" value="0" />
	<input type="hidden" id="checkbox-automatic" name="checkbox-automatic" value="0" />
	<input type="hidden" id="checkbox-chasis" name="checkbox-chasis" value="0" />
</div>
<div id="spacer"></div>

	<?php 
		$displayCounter = 0; 
		$rowCounter = 0;
	?>
	<?php if (!empty($arrayForOne)): ?>
		<div class="row">
			<div class="col-md-4">
				<div class="box-static padding-30 relative shadow-after-1 choiceone box-shadow-1 hidden-md hidden-lg">
				<div class="ribbon"><!-- ribbon inside relative box -->
					<div class="ribbon-inner">Wahl #1</div>
				</div><!-- /ribbon -->
				<div class="box-title margin-bottom-30">
					<div class="container-rateofmatch">
						<div class="piechart" data-color="#4ba5e2" data-trackcolor="rgba(0,0,0,0.04)" data-size="120" data-percent="<?=round($arrayForOne['totalCoefficient'] * 100);?>" data-width="4" data-animate="1700">
							<span class="size-30">
								<span class="countTo" data-speed="3000"><?=round($arrayForOne['totalCoefficient'] * 100);?></span> %
							</span>
						</div>
					</div>
					<h2 class="size-20"><?=@$arrayForOne['carInformation']->make.' '.@$arrayForOne['carInformation']->model?></h2>
					<h5><?=$arrayForOne['carInformation']->engine?><br>
						Base <?=$arrayForOne['carInformation']->dprice?> €</h5>
					<div class="centerthistext">
						<img src="<?=base_url('assets-custom/images/'.$arrayForOne['carpicture']->pictureurl);?>" class="result-picture " alt="" />
					</div>
				</div>
				<?php if (count($arrayForOne['pros']) > 0): ?>
				<div class="row">
					<div class="col-xs-2">
						<i class="fa fa-thumbs-up paralike"></i>
					</div>
					<div class="col-xs-10">
						<ul>
						<?php foreach ($arrayForOne['pros'] as $pros): ?>
							<li><?=$pros?></li>
						<?php endforeach; ?>
						</ul>
					</div>
				</div>
				<?php endif; ?>
				<?php if (count($arrayForOne['cons']) > 0): ?>
				<div class="row">
					<div class="col-xs-2">
						<i class="fa fa-thumbs-down paralike"></i>
					</div>
					<div class="col-xs-10">
						<ul>
						<?php foreach ($arrayForOne['cons'] as $cons): ?>
							<li><?=$cons?></li>
						<?php endforeach; ?>
						</ul>
					</div>
				</div>
				<?php endif; ?>
				<a href="<?=base_url('deinresultat/mehrinformationen?idcar='.$arrayForOne['carInformation']->idcar);?>" class="btn btn-3d btn-primary btn-block"><i class="fa fa-dashboard"></i>Einzelheiten</a>
				</div><br><br>
				<div id="spacerforresultsugod" class="hidden-md hidden-lg">
					&nbsp;
				</div>
			</div>
		</div>
	<?php endif;?>
	<?php foreach ($display['arrayData']['deindesign']['selectedcars'] as $value): ?>	
	<?php if (in_array($value['carInformation']->car_makes_idcar_makes, $display['arrayData']['marken']['selectedlogos'], true )): ?>
	<?php 
		$displayCounter++; 
		$rowCounter++;
	?>
	<?php if ($rowCounter == 1): ?>
	<div class="row">
	<?php endif; ?>
	<div class="col-md-4">
		<?php if ($displayCounter == 2): ?>
			<div class="box-static padding-30 relative shadow-after-1 choiceone box-shadow-1 hidden-xs hidden-sm">
				<div class="ribbon"><!-- ribbon inside relative box -->
					<div class="ribbon-inner">Wahl #1</div>
				</div><!-- /ribbon -->
		<?php else: ?>
			<div class="box-static box-border-top padding-30 box-bordered">
				<span class="badge badge-dark badge-corner radius-0 ">Wahl # <?=($displayCounter == 1) ?  '2' : $displayCounter ?> </span>
		<?php endif; ?>
			
				<div class="box-title margin-bottom-30">
					<div class="container-rateofmatch">
						<div class="piechart" data-color="#4ba5e2" data-trackcolor="rgba(0,0,0,0.04)" data-size="120" data-percent="<?=round($value['totalCoefficient'] * 100);?>" data-width="4" data-animate="1700">
							<span class="size-30">
								<span class="countTo" data-speed="3000"><?=round($value['totalCoefficient'] * 100);?></span> %
							</span>
						</div>
					</div>
					<h2 class="size-20"><?=@$value['carInformation']->make.' '.@$value['carInformation']->model?></h2>
					<h5><?=$value['carInformation']->engine?><br>
						Base <?=$value['carInformation']->dprice?> €</h5>
					<div class="centerthistext">
						<img src="<?=base_url('assets-custom/images/'.$value['carpicture']->pictureurl);?>" class="result-picture " alt="" />
					</div>
				</div>
				<?php if (count($value['pros']) > 0): ?>
				<div class="row">
					<div class="col-xs-2">
						<i class="fa fa-thumbs-up paralike"></i>
					</div>
					<div class="col-xs-10">
						<ul>
						<?php foreach ($value['pros'] as $pros): ?>
							<li><?=$pros?></li>
						<?php endforeach; ?>
						</ul>
					</div>
				</div>
				<?php endif; ?>
				<?php if (count($value['cons']) > 0): ?>
				<div class="row">
					<div class="col-xs-2">
						<i class="fa fa-thumbs-down paralike"></i>
					</div>
					<div class="col-xs-10">
						<ul>
						<?php foreach ($value['cons'] as $cons): ?>
							<li><?=$cons?></li>
						<?php endforeach; ?>
						</ul>
					</div>
				</div>
				<?php endif; ?>
				<a href="<?=base_url('deinresultat/mehrinformationen?idcar='.$value['carInformation']->idcar);?>" class="btn btn-3d btn-primary btn-block"><i class="fa fa-dashboard"></i>Einzelheiten</a>
			</div>
			
	</div>
	<?php if ($rowCounter == 3): ?>
	<?php
		if ($displayCounter%3 == 0) {
			$rowCounter = 0;
		}
	?>
	</div>
	<div id="spaceforresultbig" class="hidden-xs hidden-sm"><br><br><br></div>
	<?php endif; ?>
	<?php endif; ?>
	<?php if ($displayCounter != 2): ?>
	<div id="spacerforresult" class="hidden-md hidden-lg">
		<br><br><br>
	</div>
	<?php endif; ?>
	<?php endforeach; ?>
	
	</div>

</div>
<div class="row centerthistext">
	<a id="individual-advice" href="<?=base_url('deinresultat/individualadvice');?>" class="btn btn-3d btn-leaf" data-target=".bs-example-modal-full" data-toggle="modal"><i class="fa fa-comments"></i>Persönliche Beratung</a>&nbsp;&nbsp;
	<a id="car-comparison" href="<?=base_url('deinresultat/carcomparison');?>" class="btn btn-3d btn-leaf" data-target=".bs-example-modal-full" data-toggle="modal"><i class="fa fa-plus"></i>Auto zum Vergleich hinzufügen</a>
	<br>
<!-- 	<div class="fb-share-button" data-href="http://13.95.235.145/deinresultat');?>" data-layout="button"></div>
 -->
</div>
<div class="row">
	<div class="col-xs-6">
		<a class="thebutton" href="<?=base_url('deinmarken');?>">&lt;</a>
	</div>

	
</div>
<div id="modal-resultat" class="modal fade bs-example-modal-full" tabindex="-1" role="basic" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-full">
		<div class="modal-content" id="popup-content">

			<div class="text-center" >
				<img src="assets/images/loaders/7.gif" alt="" />
			</div>

		</div>
	</div>
</div>