<?php 
// print_r($display['arrayData']['allmakes'][0]->idcar_makes);
// echo '<br><br>';
// print_r($display['data-results']['marken']['selectedlogos']);
?>
<div class="row reference-area centerthistext">
	 <div id="carmakerdiv" class="col-md-3">
         <select id="carmaker" name="carmaker" style="width:250px;" onchange="createCarModel();">
            <option value="" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Sie Ihre Automarke">Marke</option>

            <?php foreach ($display['arrayData']['allmakes'] as $value): ?>
            <?php if (in_array($value->idcar_makes, $display['data-results']['marken']['selectedlogos'], true )): ?>
                <option value="<?=$value->idcar_makes;?>" data-image="<?=base_url('assets-custom/images/'.$value->iconurl);?>"  data-description="Wählen <?=$value->maker;?>..."><?=ucwords($value->maker);?></option>    
            <?php endif;?>
            <?php endforeach; ?>
        </select> 
    </div>
    <div id="carmodeldiv" class="col-md-3">
        <select id="carmodel" name="carmodel" style="width:250px;" onchange="createCarBodyType();">
            <option value="" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Automarke">Modell</option>
            <?php if ($display['arrayData']['referenz']['carmodel']): ?>
                <option value="<?=$display['arrayData']['referenz']['carmodel'];?>" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Automarke" selected><?=$display['arrayData']['referenz']['carmodel']?></option>
            <?php endif; ?>
        </select>
    </div>
    <div id="carbodytypediv" class="col-md-3">
        <select id="carbodytype" name="carbodytype" style="width:250px;" onchange="createCarGeneration();">
            <option value="" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Automodell">Karosserie</option>
            <?php if ($display['arrayData']['referenz']['carbodytype']): ?>
                <option value="<?=$display['arrayData']['referenz']['carbodytype'];?>" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Automarke" selected><?=$display['arrayData']['referenz']['carbodytype']?></option>            
            <?php endif; ?>
        </select>
    </div>
    <div id="cargenerationdiv" class="col-md-3">
        <select id="cargeneration" name="cargeneration" style="width:250px;">
            <option value="" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Fahrzeugtyp">Generation</option>
            <?php if ($display['arrayData']['referenz']['cargeneration']): ?>
                <option value="<?=$display['arrayData']['referenz']['cargeneration'];?>" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Automarke" selected><?=$display['arrayData']['referenz']['cargeneration']?></option>            
            <?php endif; ?>
        </select>
    </div>
</div>
<div class="row centerthistext" id="reference-area-display">
    <?php if (!empty($display['arrayData']['referenz']['carselected']->carpicturearray->pictureurl)): ?>
        <img src="<?=base_url('assets-custom/images/'.$display['arrayData']['referenz']['carselected']->carpicturearray->pictureurl);?>" id="img-car-result" alt="Result Here" />
    <?php else: ?>
        Wir alle kennen ein Auto besonders gut.<br>
        Wir wollen das Auto kennen, das du am besten kennst-damit wir deine Vorstellungen richtig einschätzen können.
    <?php endif;?>
</div>
<link href="<?=base_url("assets-custom/css/advisory-process-deine-referenz.css");?>" rel="stylesheet" type="text/css" />
        <script type="text/javascript">var plugin_path = 'assets/plugins/';</script>
        <script type="text/javascript" src="<?=base_url('assets/plugins/jquery/jquery-2.2.3.min.js');?>"></script>

<!-- <msdropdown> -->
<link rel="stylesheet" type="text/css" href="<?=base_url('assets-custom/css/msdropdown/dd.css');?>" />
<script src="<?=base_url('assets-custom/js/msdropdown/jquery.dd.min.js');?>"></script>
<!-- </msdropdown> -->          

<script type="text/javascript" >
var oHandler1, oHandler2, oHandler3, oHandler4;
var BASEURLL = '<?=base_url();?>';
function createCarModel()
{
    var makeid = $('#carmaker option:selected').val();
    $('#carmodeldiv').load(BASEURLL+'deinereferenz/changemodeloption?tags='+encodeURIComponent(makeid),function()
    {
        oHandler2 = $("#carmodel").msDropdown().data("dd");
    });
}

function createCarBodyType()
{
    var modelid = $('#carmodel option:selected').val();
    var makeid = $('#carmaker option:selected').val();
    $('#carbodytypediv').load(BASEURLL+'deinereferenz/changebodytype?tags='+encodeURIComponent(modelid)+'&makeid='+encodeURIComponent(makeid), function()
    {
        oHandler3 = $("#carbodytype").msDropdown().data("dd");
    });
}

function createCarGeneration()
{
    var cartype = $('#carbodytype option:selected').val();
    var modelid = $('#carmodel option:selected').val();
    var makeid = $('#carmaker option:selected').val();
    $('#cargenerationdiv').load(BASEURLL+'deinereferenz/changecargeneration?tags='+encodeURIComponent(cartype)+'&makeid='+encodeURIComponent(makeid)+'&model='+encodeURIComponent(modelid), function()
    {
        oHandler4 = $("#cargeneration").msDropdown().data("dd");
    });
}

function showCarGeneration()
{
    var cargeneration = $('#cargeneration option:selected').val();
    var cartype = $('#carbodytype option:selected').val();
    var modelid = $('#carmodel option:selected').val();
    var makeid = $('#carmaker option:selected').val();
    $('#reference-area-display').html('<div class="preloader6"></div>');
    $('#reference-area-display').load(BASEURLL+'deinereferenz/showCar?tags='+encodeURIComponent(cargeneration)+'&cartype='+encodeURIComponent(cartype)+'&makeid='+encodeURIComponent(makeid)+'&model='+encodeURIComponent(modelid), function()
    {
        
    });
}

$(document).ready(function(e) {
    oHandler1 = $("#carmaker").msDropdown().data("dd");
    oHandler2 = $("#carmodel").msDropdown().data("dd");
    oHandler3 = $("#carbodytype").msDropdown().data("dd");
    oHandler4 = $("#cargeneration").msDropdown().data("dd");
});
</script>