<?php

// print_r($display['arrayData']['wunschauto']['car-ratings']);
?>
<form name="wunschauto" method="post" action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">
<div class="heading-title text-center margin-bottom-80"><br>
	<h3>Dein Wunschauto</h3>
	<p>Bitte starten Sie von links nach rechts.</p>


          
</div>
<div class="row">
	<div class="col-md-3 text-center">
		<img src="<?=base_url('assets-custom/images/icon-dreamcar-safety.png')?>" alt="" class="rounded"  />
		<h4>Sicherheit <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Dieser Sicherheitsschieber. Sie können Schieberegler anpassen, indem Sie gewünschte Spezifikation klicken. Grün bedeutet höhere Rot bedeutet niedriger."><i class="fa fa-info-circle" aria-hidden="true"  ></i></a></h4>
		<div class="box-static box-border-top">
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-sicherheit" id="sicherheit-5">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-sicherheit" id="sicherheit-4">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-sicherheit" id="sicherheit-3">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-sicherheit" id="sicherheit-2">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-sicherheit" id="sicherheit-1">&nbsp;</a>
		</div>
		<input type="hidden" id="points-sicherheit" name="points-sicherheit" />
	</div>

	<div class="col-md-3 text-center">
		<img src="<?=base_url('assets-custom/images/icon-dreamcar-fuelconsumption.png')?>" alt="" class="rounded"  />
		<h4>Verbrauch <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Der Kraftstoffverbrauch Schieber. Sie können Schieberegler anpassen, indem Sie gewünschte Spezifikation klicken. Grün bedeutet höhere Rot bedeutet niedriger."><i class="fa fa-info-circle" aria-hidden="true"  ></i></a></h4>
		<div class="box-static box-border-top">
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-verbrauch" id="verbrauch-5">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-verbrauch" id="verbrauch-4">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-verbrauch" id="verbrauch-3">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-verbrauch" id="verbrauch-2">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-verbrauch" id="verbrauch-1">&nbsp;</a>
		</div>
		<input type="hidden" id="points-verbrauch" name="points-verbrauch" />
	</div>

	<div class="col-md-3 text-center">
		<img src="<?=base_url('assets-custom/images/icon-dreamcar-space.png')?>" alt="" class="rounded"  />
		<h4>Platzangebot <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Der Raum Schieber. Sie können Schieberegler ändern, indem Sie gewünschte Spezifikation klicken."><i class="fa fa-info-circle" aria-hidden="true"  ></i></a></h4>
		<div class="box-static box-border-top">
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-platzangebot" id="platzangebot-5">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-platzangebot" id="platzangebot-4">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-platzangebot" id="platzangebot-3">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-platzangebot" id="platzangebot-2">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-platzangebot" id="platzangebot-1">&nbsp;</a>
		</div>
		<input type="hidden" id="points-platzangebot" name="points-platzangebot" />
	</div>

	<div class="col-md-3 text-center">
		<img src="<?=base_url('assets-custom/images/icon-dreamcar-comfort.png')?>" alt="" class="rounded"  />
		<h4>Komfort <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Der Komfort Schieber. Sie können Schieberegler ändern, indem Sie gewünschte Spezifikation klicken."><i class="fa fa-info-circle" aria-hidden="true"  ></i></a></h4>
		<div class="box-static box-border-top">
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-komfort" id="komfort-5">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-komfort" id="komfort-4">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-komfort" id="komfort-3">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-komfort" id="komfort-2">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-komfort" id="komfort-1">&nbsp;</a>
		</div>
		<input type="hidden" id="points-komfort" name="points-komfort" />
	</div>
</div>
<div class="text-center">
	<div class="circle-shape whitecircle">
		<p><span id="cicle-shape-number"></span>&nbsp;<a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Anzahl der Bars bleiben. Sie können Schieberegler ändern, indem Sie gewünschte Spezifikation klicken."><i class="fa fa-info-circle" aria-hidden="true"  ></i></a></p>
	</div>
</div>
<div class="row">
	<div class="col-md-3 text-center">
		<img src="<?=base_url('assets-custom/images/icon-dreamcar-powertrain.png')?>" alt="" class="rounded" />
		<h4>Antrieb <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Antrieb Schieber. Sie können Schieberegler ändern, indem Sie gewünschte Spezifikation klicken."><i class="fa fa-info-circle" aria-hidden="true"  ></i></a></h4>
		<div class="box-static box-border-top colorizedline">
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-antrieb" id="antrieba-5" >&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-antrieb" id="antrieba-4" >&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-antrieb" id="antrieba-3">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-antrieb" id="antrieba-2">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-antrieb" id="antrieba-1" >&nbsp;</a>
		</div>
		<input type="hidden" id="points-antrieb" name="points-antrieb" />
	</div>

	<div class="col-md-3 text-center">
		<img src="<?=base_url('assets-custom/images/icon-dreamcar-handiness.png')?>" alt="" class="rounded" />
		<h4>Handlichkeit <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Handlichkeit Schieber. Sie können Schieberegler ändern, indem Sie gewünschte Spezifikation klicken."><i class="fa fa-info-circle" aria-hidden="true"  ></i></a></h4>
		<div class="box-static box-border-top colorizedline">
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-handlichkeit" id="handlichkeit-5" >&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-handlichkeit" id="handlichkeit-4" >&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-handlichkeit" id="handlichkeit-3" >&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-handlichkeit" id="handlichkeit-2" >&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-handlichkeit" id="handlichkeit-1" >&nbsp;</a>
		</div>
		<input type="hidden" id="points-handlichkeit" name="points-handlichkeit" />
	</div>

	<div class="col-md-3 text-center">
		<img src="<?=base_url('assets-custom/images/icon-dreamcar-reliability.png')?>" alt="" class="rounded" />
		<h4>Zuverlässigkeit <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Zuverlässigkeit Schieber. Sie können Schieberegler ändern, indem Sie gewünschte Spezifikation klicken."><i class="fa fa-info-circle" aria-hidden="true"  ></i></a></h4>
		<div class="box-static box-border-top">
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-zuverlassigkeit" id="zuverlassigkeit-5">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-zuverlassigkeit" id="zuverlassigkeit-4">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-zuverlassigkeit" id="zuverlassigkeit-3">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-zuverlassigkeit" id="zuverlassigkeit-2">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-zuverlassigkeit" id="zuverlassigkeit-1">&nbsp;</a>
		</div>
		<input type="hidden" id="points-zuverlassigkeit" name="points-zuverlassigkeit" />
	</div>

	<div class="col-md-3 text-center">
		<img src="<?=base_url('assets-custom/images/icon-dreamcar-multimedia.png')?>" alt="" class="rounded" />
		<h4>Multimedia <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Multimedia Schieber. Sie können Schieberegler ändern, indem Sie gewünschte Spezifikation klicken."><i class="fa fa-info-circle" aria-hidden="true"  ></i></a></h4>
		<div class="box-static box-border-top">
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-multimedia" id="multimedia-5">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-multimedia" id="multimedia-4">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-multimedia" id="multimedia-3">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-multimedia" id="multimedia-2">&nbsp;</a>
			<a href="javascript:void(0);" class="btn btn-3d btn-default btn-block btn-xs btn-multimedia" id="multimedia-1">&nbsp;</a>
		</div>
		<input type="hidden" id="points-multimedia" name="points-multimedia" />
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<a class="thebutton" href="<?=base_url('deinereferenz');?>">&lt;</a>
	</div>

	<div class="col-xs-6 therightaligmtext">
		<input type="submit" class="thebutton" value="&gt;" />
	</div>
</div>
</form>