<?php 

// print_r($display['arrayData']['carsForDesign']);
// echo '<br><br>count:';
// print_r($display['arrayData']['deindesign']['selectedcars']);
// foreach ($display['arrayData']['deindesign']['selectedcars'] as  $value) {
// 	print_r($value['carInformation']);
// 	echo '<br>';
// }
?>
<form name="marken" method="post" action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">

<div class="heading-title text-center margin-bottom-80"><br>
	<h3>Deine Markenwahl</h3>
	<p>Ein Klick auf das Logo wird aktivieren oder deaktivieren.</p>          
</div>
<div class="row centerthistext logo-area">
	<!-- logo display here -->
	<?php foreach ($display['arrayData']['marken']['logos'] as $value):?>
		<?php
			$nameString = explode(' ', $value['logoInformation']->maker);
		?>
		<a href="javascript:void(0);" class="logo-link" data-toggle="tooltip" data-placement="top" title="
		Wir vergleichen Autos passiv sicher über - z.B. Crashtest-Ergebnisse - sowie aktive Sicherheit z.B. automatisches Bremsen in einem Notfall und anderer asstance Systemen." >
			<img id="logo-<?=strtolower($nameString[0]);?>" class="img-markeners <?=$value['inTheArray']==true ?  'initial-selection' : 'initial-selection' ?>" src="<?=base_url('assets-custom/images/'.$value['logoInformation']->logourl);?>" alt="" />
		</a>
	<?php endforeach; ?>
	<!-- logo display here -->
	
	
</div>
<div class="row">
<?php foreach ($display['arrayData']['marken']['logos'] as $value):?>
	<?php
		$nameString = explode(' ', $value['logoInformation']->maker);
	?>
  	<input type="hidden" id="<?=$value['logoInformation']->idcar_makes?>" name="<?=$value['logoInformation']->idcar_makes?>" value="<?=$value['inTheArray']==true ?  '1' : '1' ?>">
<?php endforeach; ?>
</div>
<div class="row">
	<div class="col-xs-6">
		<a class="thebutton" href="<?=base_url('deindesign');?>">&lt;</a>
	</div>

	<div class="col-xs-6 therightaligmtext">
		<input type="submit" class="thebutton" value="&gt;" />
	</div>
</div>
</form>