<script type="text/javascript">

<?php 
// $result->safety = round($result->safety);
// $result->fuelcons = round($result->fuelcons);
// $result->space = round($result->space);
// $result->comfort = round($result->comfort);
// $result->powertrain = round($result->powertrain);
// $result->handiness = round($result->handiness);
// $result->reliability = round($result->reliability);
// $result->multimedia = round($result->multimedia);
?>

var pointsTotal = <?=!empty($display['arrayData']['wunschauto']['car-ratings']->pointsconsumed) ?  (28-$display['arrayData']['wunschauto']['car-ratings']->pointsconsumed) : 28 ?>;
var pointsSicherheit = <?=!empty($display['arrayData']['wunschauto']['car-ratings']->safety) ?  ($display['arrayData']['wunschauto']['car-ratings']->safety) : 0 ?>;  //to be changed by PHP
var pointsVerbrauch = <?=!empty($display['arrayData']['wunschauto']['car-ratings']->fuelcons) ?  ($display['arrayData']['wunschauto']['car-ratings']->fuelcons) : 0 ?>;
var pointsPlatzangebot = <?=!empty($display['arrayData']['wunschauto']['car-ratings']->space) ?  ($display['arrayData']['wunschauto']['car-ratings']->space) : 0 ?>;
var pointsKomfort = <?=!empty($display['arrayData']['wunschauto']['car-ratings']->comfort) ?  ($display['arrayData']['wunschauto']['car-ratings']->comfort) : 0 ?>;
var pointsAntrieba = <?=!empty($display['arrayData']['wunschauto']['car-ratings']->powertrain) ?  ($display['arrayData']['wunschauto']['car-ratings']->powertrain) : 0 ?>;
var pointsHandlichkeit = <?=!empty($display['arrayData']['wunschauto']['car-ratings']->handiness) ?  ($display['arrayData']['wunschauto']['car-ratings']->handiness) : 0 ?>;
var pointsZuverlassigkeit = <?=!empty($display['arrayData']['wunschauto']['car-ratings']->reliability) ?  ($display['arrayData']['wunschauto']['car-ratings']->reliability) : 0 ?>;
var pointsMultimedia = <?=!empty($display['arrayData']['wunschauto']['car-ratings']->multimedia) ?  ($display['arrayData']['wunschauto']['car-ratings']->multimedia) : 0 ?>;

</script>
<link href="<?=base_url("assets-custom/css/advisory-process-deinwunschauto.css");?>" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="assets-custom/js/deinwunschauto.js" ></script>
