
<div class="heading-title text-center"><br>
	<h3>Deine Design</h3>          
</div>

<div class="row" id="car-container-area">
	<?php if (!empty($display['arrayData']['deindesign']['carfornow'])): ?>
	<div class="col-md-12">
		<div class="image-cropper btn-like">
		    <a class="" href="<?=base_url('deindesign?like=true');?>"><img src="<?=base_url('assets-custom/images/like.png');?>" class="rounded " /></a>
		</div>
		<div class="image-cropper therightaligmtext btn-deslike">
		    <a href="<?=base_url('deindesign?like=false');?>"><img src="<?=base_url('assets-custom/images/dislike.png');?>" class="rounded" /></a>
		</div>
		<?php if(!empty($display['arrayData']['deindesign']['carfornow']['carpicture']->pictureurl)): ?>
			<img id="car-design" src="<?=base_url('assets-custom/images/'.$display['arrayData']['deindesign']['carfornow']['carpicture']->pictureurl);?>" alt="" class="justcenterthisdom kuyogsamobile" />
		<?php else: ?>
				<div id="car-design"  class="text-center" class="justcenterthisdom kuyogsamobile">
					<h3><?=@$display['arrayData']['deindesign']['carfornow']['carInformation']->make?> <span><?=@$display['arrayData']['deindesign']['carfornow']['carInformation']->model?></span></h3>
				</div>

		<?php endif; ?>
		
	</div>
	<?php else: ?>
	<center>
		Wir haben kein Auto mit Ihrem gewünschten Preis und Passagierkapazität.<br>
	    <a href="<?=base_url('deinegrundlagen/backtostart');?>" class="btn btn-3d btn-dirtygreen btn-lg  ">
	        <span>Jetzt beginnen</span> 
	    </a>
	</center>
	<?php endif;?>
</div>