<?php
	// print_r($display);
// <section class="heading-title heading-arrow-top parallax parallax-2" style="background-image: url('assets/images/demo/1200x800/6-min.jpg');">

	// if (!empty($displaymake))
		// print_r($display); 
// print_r($display->carpicturearray->pictureurl);
?>
		
<?php if (!empty($display->carpicturearray->pictureurl)): ?>
	<img src="<?=base_url('assets-custom/images/'.$display->carpicturearray->pictureurl);?>" id="img-car-result" alt="Result Here" />
	<input type="hidden" id="idcar" name="idcar" value="<?=$display->idcar?>">
<?php else: ?>
<section class="heading-title heading-arrow-top parallax parallax-2" style="background-image: url('assets/images/demo/1200x800/6-min.jpg');">	
	<div class="overlay dark-8"><!-- dark overlay [1 to 9 opacity] --></div>
	<div class="container">


	<div class="text-center">
		<h3>Auto-Bild <span>Nicht Verfügbar</span></h3>
	</div>
		

	</div>
</section>
<?php endif; ?>
