<!-- <msdropdown> -->
<link rel="stylesheet" type="text/css" href="<?=base_url('assets-custom/css/msdropdown/dd.css');?>" />
<script src="<?=base_url('assets-custom/js/msdropdown/jquery.dd.min.js');?>"></script>
<!-- </msdropdown> -->          

<script type="text/javascript" >
var oHandler1, oHandler2, oHandler3, oHandler4;

function createCarModel()
{
	var makeid = $('#carmaker option:selected').val();
	$('#carmodeldiv').html('<select id="carmodel" name="carmodel" ><option value="" data-image="localhost:6060/assets-custom/images/icon-blank.png" data-description="Wählen Automodell">Loading options please wait</option></select>');
	$('#carmodeldiv').load(BASEURLL+'deinereferenz/changemodeloption?tags='+encodeURIComponent(makeid),function()
	{
		oHandler2 = $("#carmodel").msDropdown().data("dd");
	});
}

function createCarBodyType()
{
	var modelid = $('#carmodel option:selected').val();
	var makeid = $('#carmaker option:selected').val();
	$('#carbodytypediv').html('<select id="loading" name="loading" ><option value="">Loading options please wait</option></select>');
	$('#carbodytypediv').load(BASEURLL+'deinereferenz/changebodytype?tags='+encodeURIComponent(modelid)+'&makeid='+encodeURIComponent(makeid), function()
	{
		oHandler3 = $("#carbodytype").msDropdown().data("dd");
	});
}

function createCarGeneration()
{
	var cartype = $('#carbodytype option:selected').val();
	var modelid = $('#carmodel option:selected').val();
	var makeid = $('#carmaker option:selected').val();
	$('#cargenerationdiv').html('<select id="loading" name="loading" ><option value="">Loading options please wait</option></select>');
	$('#cargenerationdiv').load(BASEURLL+'deinereferenz/changecargeneration?tags='+encodeURIComponent(cartype)+'&makeid='+encodeURIComponent(makeid)+'&model='+encodeURIComponent(modelid), function()
	{
		oHandler4 = $("#cargeneration").msDropdown().data("dd");
	});
}

function showCarGeneration()
{
	var cargeneration = $('#cargeneration option:selected').val();
	var cartype = $('#carbodytype option:selected').val();
	var modelid = $('#carmodel option:selected').val();
	var makeid = $('#carmaker option:selected').val();
	$('#reference-area-display').html('<div class="preloader6"></div>');
	$('#reference-area-display').load(BASEURLL+'deinereferenz/showCar?tags='+encodeURIComponent(cargeneration)+'&cartype='+encodeURIComponent(cartype)+'&makeid='+encodeURIComponent(makeid)+'&model='+encodeURIComponent(modelid), function()
	{
		
	});
}

$(document).ready(function(e) {
	oHandler1 = $("#carmaker").msDropdown().data("dd");
	oHandler2 = $("#carmodel").msDropdown().data("dd");
	oHandler3 = $("#carbodytype").msDropdown().data("dd");
	oHandler4 = $("#cargeneration").msDropdown().data("dd");
});
</script>