<link rel="stylesheet" type="text/css" href="<?=base_url('assets-custom/css/advisory-process-mehr-information.css');?>" />
 <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true&key=AIzaSyAqKr0D2JYYrn0ry2mxEZ5W_u2vJS93ZNY"></script>
<script type="text/javascript" src="<?=base_url('assets/plugins/gmaps.js');?>"></script>
<script type="text/javascript">
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
} else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
}


function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;
}

	jQuery(document).ready(function(){

		/**
			@MULTIPLE MARKERS GOOGLE MAP
		**/
		map3 = new GMaps({
			div: '#map3',
			lat: -12.043333,
			lng: -77.028333
		});
		
		// Marker 1
		map3.addMarker({
			lat: -12.043333,
			lng: -77.03,
			title: 'Lima',
			details: {
			database_id: 42,
			author: 'HPNeo'
			},
			click: function(e){
				if(console.log) {
					console.log(e);
				}
				alert('You clicked in this marker');
			}
		});
		
		// Marker 2
		map3.addMarker({
			lat: -12.042,
			lng: -77.028333,
			title: 'Marker with InfoWindow',
			infoWindow: {
				content: '<p>HTML Content</p>'
			}
		});

		GMaps.geolocate({
		  success: function(position) {
		    map3.setCenter(position.coords.latitude, position.coords.longitude);
		  },
		  error: function(error) {
		    alert('Geolocation failed: '+error.message);
		  },
		  not_supported: function() {
		    alert("Your browser does not support geolocation");
		  },
		  always: function() {

		  }
		});

	});



</script>
<script type="text/javascript">
$("#button-test-drive").click(function(){
	$('#popup-content').html('<img src="assets/images/loaders/7.gif" alt="" />');
	$('#popup-content').load(BASEURLL+'testdrive?idcar=<?=$display['data-results']['carInformation']->idcar?>');
});
</script>