<div class="row process-wizard process-wizard-primary">

	<div class="col-xs-3 process-wizard-step 
	<?php if ($display['what-step'] == 1 )echo 'disabled'; 
		elseif ($display['what-step'] == 1.5) echo 'active';
		elseif ($display['what-step'] == 1.75) echo 'complete';
		elseif ($display['what-step'] >= 2) echo 'complete';
		else echo 'disabled';
	?>">
		<div class="text-center process-wizard-stepnum">&nbsp;</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="<?=base_url('deinegrundlagen');?>" class="process-wizard-dot"></a>
		<div class="process-wizard-info text-center"><a href="<?=base_url('deinegrundlagen');?>">Deine Grundlagen.</a></div>
	</div>

	<div class="col-xs-3 process-wizard-step 
	<?php if ($display['what-step'] == 2) echo 'disabled'; 
		elseif ($display['what-step'] == 2.5) echo 'active';
		elseif ($display['what-step'] == 2.75) echo 'complete';
		elseif ($display['what-step'] >= 3) echo 'complete';
		else echo 'disabled';
	?>">
		<div class="text-center process-wizard-stepnum">&nbsp;</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="<?=base_url('deinwunschauto');?>" class="process-wizard-dot"></a>
		<div class="process-wizard-info text-center"><a href="<?=base_url('deinwunschauto');?>">Dein Wunschauto.</a></div>
	</div>

	<div class="col-xs-3 process-wizard-step
	<?php if ($display['what-step'] == 3) echo 'disabled'; 
		elseif ($display['what-step'] == 3.5) echo 'active';
		elseif ($display['what-step'] == 3.75) echo 'complete';
		elseif ($display['what-step'] >= 4) echo 'complete';
		else echo 'disabled';
	?>">
		<div class="text-center process-wizard-stepnum">&nbsp;</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="<?=base_url('deinmarken');?>" class="process-wizard-dot"></a>
		<div class="process-wizard-info text-center"><a href="<?=base_url('deinmarken');?>">Dein Marken.</a></div>
	</div>

	<div class="col-xs-3 process-wizard-step 
	<?php if ($display['what-step'] == 4) echo 'disabled'; 
		elseif ($display['what-step'] == 4.5) echo 'active';
		elseif ($display['what-step'] == 4.75) echo 'complete';
		elseif ($display['what-step'] >= 5) echo 'complete';
		else echo 'disabled';
	?>">
		<div class="text-center process-wizard-stepnum">&nbsp;</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="<?=base_url('deinresultat');?>" class="process-wizard-dot"></a>
		<div class="process-wizard-info text-center"><a href="<?=base_url('deinresultat');?>">Dein Resultat.</a></div>
	</div>

</div>