<form name="popup" method="post" class="validate" action="<?= isset($display['popup-action']) ? $display['popup-action'] : '' ?>" enctype="multipart/form-data" method="post" accept-charset="utf-8" data-success="Sent! Thank you!" data-toastr-position="top-right">
<!-- header modal -->
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myLargeModalLabel"><?= isset($display['popup-title']) ? $display['popup-title'] : 'Sample popup' ?></h4>
</div>

<!-- body modal -->
<div class="modal-body">
	<?php
        if (!empty($view) and file_exists(APPPATH . 'views/' . $view . '.phtml')):
            $this->load->view($view . '.phtml');
        else:
            $this->load->view('templates/advisoryprocess/blank.phtml');
        endif;
    ?>
</div>

<!-- Modal Footer -->
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
	<input type="submit" id="submit-form" class="btn btn-primary" value="<?= isset($display['popup-submitbutton']) ? $display['popup-submitbutton'] : 'Einreichen' ?>" />
</div>
</form>