<!-- REVOLUTION SLIDER -->
<section id="slider" class="fullwidthbanner-container roundedcorners">
    <!--
        Navigation Styles:
        
            data-navigationStyle="" theme default navigation
            
            data-navigationStyle="preview1"
            data-navigationStyle="preview2"
            data-navigationStyle="preview3"
            data-navigationStyle="preview4"
            
        Bottom Shadows
            data-shadow="1"
            data-shadow="2"
            data-shadow="3"
            
        Slider Height (do not use on fullscreen mode)
            data-height="300"
            data-height="350"
            data-height="400"
            data-height="450"
            data-height="500"
            data-height="550"
            data-height="600"
            data-height="650"
            data-height="700"
            data-height="750"
            data-height="800"
    -->
    <div class="fullscreenbanner" data-navigationStyle="preview4">
        <ul class="hide">



            <!-- SLIDE -->
            
            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 2" >

                <?php if (strcasecmp(@$mobile, "TRUE")==0): ?>
                <img src="assets/images/1x1.png" alt="video" data-lazyload="<?=base_url('assets-custom/images/car-animated.gif');?>" alt="video" style="background-color:#ffffff"  data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat">
                <?php else: ?>
                <img src="assets/images/1x1.png" alt="video" alt="video" style="background-color:#ffffff"  data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat">
                <?php endif;?>

                <div class="tp-caption tp-fade fadeout fullscreenvideo" 
                    data-x="0"
                    data-y="0"
                    data-speed="1000"
                    data-start="1100"
                    data-easing="Power4.easeOut"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.1"
                    data-endspeed="1500"
                    data-endeasing="Power4.easeIn"
                    data-autoplay="true"
                    data-autoplayonlyfirsttime="false"
                    data-nextslideatend="true"
                    data-volume="mute" 
                    data-forceCover="1" 
                    data-aspectratio="<?=$ratio;?>" 
                    data-forcerewind="on" style="z-index: 2;">

                    <div id="videoContainer">
                    <div class=""><!-- dark overlay [1 to 9 opacity] --></div>
                    <?php if (strcasecmp(@$mobile, "TRUE")==0): ?>
                    <video class="fullvideo hidden-xs hidden-sm " poster="<?=base_url('assets-custom/images/car-animated.gif');?>" preload="auto" loop autoplay muted>
                        <source src="<?=base_url('assets-custom/vid/car-animated.webm');?>" type="video/webm" />
                        <source src="<?=base_url('assets-custom/vid/car-animated.mp4');?>" type="video/mp4" />
                    </video> 
                    <?php else: ?>
                    <?php if (strcasecmp(urldecode($ratio), "8:5")==0): ?>
                    <video class="fullvideo hidden-xs hidden-sm " preload="auto" loop autoplay muted>
                        <source src="<?=base_url('assets-custom/vid-ratios/20161207_fiat_16_10.webm');?>" type="video/webm" />
                        <source src="<?=base_url('assets-custom/vid-ratios/20161207_fiat 16_10.mp4');?>" type="video/mp4" />
                    </video> 
                    <?php elseif (strcasecmp(urldecode($ratio), "4:3")==0): ?>
                    <video class="fullvideo hidden-xs hidden-sm " preload="auto" loop autoplay muted>
                        <source src="<?=base_url('assets-custom/vid-ratios/20161207_fiat_4_3.webm');?>" type="video/webm" />
                        <source src="<?=base_url('assets-custom/vid-ratios/20161207_fiat 4_3.mp4');?>" type="video/mp4" />
                    </video> 
                     <?php elseif (strcasecmp(urldecode($ratio), "5:3")==0): ?>
                    <video class="fullvideo hidden-xs hidden-sm " preload="auto" loop autoplay muted>
                        <source src="<?=base_url('assets-custom/vid-ratios/20161207_fiat_5_4.webm');?>" type="video/webm" />
                        <source src="<?=base_url('assets-custom/vid-ratios/20161207_fiat 5_4.mp4');?>" type="video/mp4" />
                    </video> 
                    <?php elseif (strcasecmp(urldecode($ratio), "5:4")==0): ?>
                    <video class="fullvideo hidden-xs hidden-sm " preload="auto" loop autoplay muted>
                        <source src="<?=base_url('assets-custom/vid-ratios/20161207_fiat_5_4.webm');?>" type="video/webm" />
                        <source src="<?=base_url('assets-custom/vid-ratios/20161207_fiat 5_4.mp4');?>" type="video/mp4" />
                    </video> 
                    <?php elseif (strcasecmp(urldecode($ratio), "16:9")==0): ?>
                    <video class="fullvideo hidden-xs hidden-sm " preload="auto" loop autoplay muted>
                        <source src="<?=base_url('assets-custom/vid-ratios/20161207_fiat_16_9.webm');?>" type="video/webm" />
                        <source src="<?=base_url('assets-custom/vid-ratios/20161207_fiat 16_9.mp4');?>" type="video/mp4" />
                    </video>
                    <?php elseif (strcasecmp(urldecode($ratio), "16:10")==0): ?>
                    <video class="fullvideo hidden-xs hidden-sm " preload="auto" loop autoplay muted>
                        <source src="<?=base_url('assets-custom/vid-ratios/20161207_fiat_16_10.webm');?>" type="video/webm" />
                        <source src="<?=base_url('assets-custom/vid-ratios/20161207_fiat 16_10.mp4');?>" type="video/mp4" />
                    </video>
                    <?php else: ?>
                    <video class="fullvideo hidden-xs hidden-sm " preload="auto" loop autoplay muted>
                        <source src="<?=base_url('assets-custom/vid-ratios/20161207_fiat 2.35_1.webm');?>" type="video/webm" />
                        <source src="<?=base_url('assets-custom/vid-ratios/20161207_fiat 2.35_1.mp4');?>" type="video/mp4" />
                    </video>
                    <?php endif; ?>
                    <?php endif; ?>
                    </div>

                </div>


                <div class="tp-caption customin ltl tp-resizeme large_bold_grey"
                    data-x="center"
                    data-y="230"
                    data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="800"
                    data-start="1200"
                    data-easing="easeOutQuad"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.1"
                    data-endspeed="1000"
                    data-endeasing="Power4.easeIn" style="z-index: 3;">
                    Willkommen zu Cococar
                </div>

                <div class="tp-caption customin ltl tp-resizeme  hidden-xs font-lato"
                    data-x="center"
                    data-y="350"
                    data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:100% 0%;"
                    data-speed="800"
                    data-start="1400"
                    data-easing="easeOutQuad"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.1"
                    data-endspeed="1000"
                    data-endeasing="Power4.easeIn" style="color: #000; z-index: 3; width: 750px; max-width: 750px; text-align:center; font-size:20px;">
                    Wir beraten Sie Bei Ilhrem Autokauf! Finden Sie das passende Auto in Kürzester Zeit.
                </div>


                           


                <div class="tp-caption customin ltl tp-resizeme"
                    data-x="center"
                    data-y="438"
                    data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="800"
                    data-start="1550"
                    data-easing="easeOutQuad"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.1"
                    data-endspeed="1000"
                    data-endeasing="Power4.easeIn" style="z-index: 3;">
                    <a href="<?=base_url('deinegrundlagen');?>" class="btn btn-3d btn-dirtygreen btn-lg btn-block hidden-xs">
                        <span>Jetzt beginnen</span> 
                    </a>
                </div>



            </li>



        </ul>
    </div>
</section>
<div class="thebuttontoadvisory hidden-sm hidden-md hidden-lg centerthistext">
    Wir beraten Sie Bei Ilhrem Autokauf! Finden Sie das passende Auto in Kürzester Zeit.
<a href="<?=base_url('deinegrundlagen');?>" class="btn btn-lg btn-block btn-3d btn-dirtygreen ">
    <span>Jetzt beginnen</span> 
</a>
</div>
<!-- /REVOLUTION SLIDER -->