<link href="<?=base_url("assets-custom/css/homepage.css");?>" rel="stylesheet" type="text/css" />
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery(window).on('load resize', function(){
		function gcd(a,b) 
		{
			if(b>a) 
			{
				temp = a; 
				a = b; 
				b = temp
			}

			while(b!=0) 
			{
				m=a%b;
				a=b;
				b=m;
			} 
			return a;
		}
		function ratio(x,y) 
		{
			c=gcd(x,y); 
			return ""+(x/c)+":"+(y/c);
		}
        var width = screen.width;
        var height = screen.height;
        // var width = jQuery(window).width();
        // var height = jQuery(window).height();
        var ratio = ratio(width, height);

        <?php if (strcasecmp($mobile, "true")!=0): ?>
        if (width < 800) {
        	window.location.href = BASEURLL+"?mobile=true";
        } 
        <?php if (strcasecmp(urldecode($ratio), "8:5")!=0): ?>
	        else if (ratio == "8:5") {
	        	window.location.href = BASEURLL+"?ratio="+encodeURIComponent(ratio);
	        }
        <?php endif; ?>
        <?php if (strcasecmp($ratio, "4:3")!=0): ?>
	        else if (ratio == "4:3") {
	        	window.location.href = BASEURLL+"?ratio="+encodeURIComponent(ratio);
	        }
        <?php endif; ?>
        <?php if (strcasecmp($ratio, "5:3")!=0): ?>
	        else if (ratio == "5:3") {
	        	window.location.href = BASEURLL+"?ratio="+encodeURIComponent(ratio);
	        }
        <?php endif; ?>
        <?php if (strcasecmp($ratio, "5:4")!=0): ?>
	        else if (ratio == "5:4") {
	        	window.location.href = BASEURLL+"?ratio="+encodeURIComponent(ratio);
	        }
        <?php endif; ?>
        <?php if (strcasecmp($ratio, "16:9")!=0): ?>
	        else if (ratio == "16:9") {
	        	window.location.href = BASEURLL+"?ratio="+encodeURIComponent(ratio);
	        }
        <?php endif; ?>
        <?php if (strcasecmp($ratio, "16:10")!=0): ?>
	        else if (ratio == "16:10") {
	        	window.location.href = BASEURLL+"?ratio="+encodeURIComponent(ratio);
	        }
        <?php endif; ?>
         else {
        	console.log(ratio);
        }
        <?php else: ?>       		
        <?php endif; ?>
    });
});
</script>