<!DOCTYPE html>
<html lang="en-us">
  
    <head>
        <meta charset="utf-8" />
        <title>COCOCAR</title>
        <meta name="keywords" content="HTML5,CSS3,Template" />
        <meta name="description" content="" />
        <meta name="Author" content="Edison Quinones" />
        <base href="<?=base_url();?>">

        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

        <!-- WEB FONTS : use %7C instead of | (pipe) -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />


        <link rel="shortcut icon" href="<?=base_url("cococar-favicon.ico");?>" type="image/x-icon" >


    </head>
 
    <body class="smoothscroll enable-animation">
 
       	<img src="<?=base_url('assets/images/logo_light.png');?>" alt="" data-pin-nopin="true">

 
    </body>
</html>