<?php
/*
	<option value="coupe" data-image="<?=base_url('assets-custom/images/icon-classA.png');?>" data-title="Coupe..." data-description="Wählen A-Klasse">A-Klasse</option>
	<option value="coupe" data-image="<?=base_url('assets-custom/images/icon-classB.png');?>" data-title="Coupe..." data-description="Wählen B-Klasse">B-Klasse</option>
	<option value="coupe" data-image="<?=base_url('assets-custom/images/icon-classC.png');?>" data-title="Coupe..." data-description="Wählen C-Klasse">C-Klasse</option>
	<option value="coupe" data-image="<?=base_url('assets-custom/images/icon-classD.png');?>" data-title="Coupe..." data-description="Wählen D-Klasse">D-Klasse</option>
*/
?>

<select id="carmodel" name="carmodel" style="width:250px;" onchange="createCarBodyType();">
	<option value="" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Automodell">Modell</option>
	<?php foreach ($display as $value): ?>
		<option value="<?=$value->model?>" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-title="<?=$value->model?>..." data-description="Wählen <?=$value->model?>"><?=$value->model?></option>
	<?php endforeach; ?>

</select>