<?php

// print_r($display);

/*
    <option value="coupe" data-image="<?=base_url('assets-custom/images/body-coupe.png');?>" data-title="Coupe..." data-description="Wählen Coupe">COUPE</option>
    <option value="estate" data-image="<?=base_url('assets-custom/images/body-estate.png');?>" data-title="Estate..." data-description="Wählen Kombi">KOMBI</option>
    <option value="sedan" data-image="<?=base_url('assets-custom/images/body-sedan.png');?>" data-title="Sedan..." data-description="Wählen Limousine">LIMOUSINE</option>
    <option value="convertable" data-image="<?=base_url('assets-custom/images/body-convertable.png');?>" data-title="Convertable" data-description="Wählen Cabriolet">CABRIOLET</option> 
*/
?>

<select id="carbodytype" name="carbodytype" style="width:250px;" onchange="createCarGeneration();">
    <option value="" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen Sie Körper-Typ">Karosserie</option>
    <?php foreach ($display as $value): ?>
		<option value="<?=$value->body?>" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-title="<?=$value->body?>..." data-description="Wählen <?=$value->body?>"><?=$value->body?></option>
	<?php endforeach; ?>
</select>