<?php

// print_r($display);

/*
<option value="Generation-I" data-image="<?=base_url('assets-custom/images/icon-typeII.png');?>" data-description="Wählen Gen.I">Generation-I</option>
    <option value="Generation-II" data-image="<?=base_url('assets-custom/images/icon-typeII.png');?>" data-description="Wählen Gen.II">Generation-II</option>
    <option value="Generation-III" data-image="<?=base_url('assets-custom/images/icon-typeIII.png');?>" data-description="Wählen Gen.III">Generation-III</option>
    <option value="Generation-IV" data-image="<?=base_url('assets-custom/images/icon-typeIV.png');?>" data-description="Wählen Gen.IV">Generation-IV</option>
*/
?>
<select id="cargeneration" name="cargeneration" style="width:250px;" onchange="showCarGeneration();" >
    <option value="" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen generation">Generation</option>
    <?php foreach ($display as $value): ?>
    	<option value="<?=$value->generation?>" data-image="<?=base_url('assets-custom/images/icon-blank.png');?>" data-description="Wählen <?=$value->generation?>"><?=$value->generation?></option>
    <?php endforeach; ?>
</select>