.parallax h1, .parallax h2, .parallax h3, .parallax h4, .parallax h5, .parallax h6, .parallax p, .parallax .btn, .parallax img, .parallax div, .parallax
{
	background: #ffffff;
}

.overlay.dark-8
{
	
}

.heading-title.heading-arrow-top, .heading-title.heading-arrow-bottom{
	background: #ffffff !important;
}