.img-marken
{
    width: 100%;
}
.img-markeners
{
    width: 100%;
}
.logo-area
{
	
	margin-bottom: 60px;
}


.showlogo
{
    border: 0px;
}

.hidelogo
{
    border: 1px solid;
}
.logo-link
{
	display: inline-block;
	width: 15.6%;
}