.reference-area
{
    margin-bottom: 50px;
    
}

.reference-area ul li
{
   text-align: left;
}

.dd
{
   text-align: left !important;
   width: 230px !important;

   
}
.dd .ddTitle .description
{
    overflow: hidden !important;
    width: 130px;
    display: grid;
}
.preloader6 {
   color:#ffffff;
   width:50px;
   height:50px;
   display:inline-block;
   padding:0px;
   opacity:0.5;
   background:#000000;
   -webkit-animation: preloader6 1.5s ease-in-out infinite alternate;
   animation: preloader6 1.5s ease-in-out infinite alternate;
}
@keyframes preloader6 {
   from {transform: rotate(0deg) scale(1,1);border-radius:0px;}
   to {transform: rotate(720deg) scale(0.5, 0.5);border-radius:25px;}
}
@-webkit-keyframes preloader6 {
   from {-webkit-transform: rotate(0deg) scale(1, 1);border-radius:0px;}
   to {-webkit-transform: rotate(720deg) scale(0.5, 0.5);border-radius:25px;}
}
#img-car-result
{
   width: 80%;
}

#reference-area-display
{
   margin-bottom: 50px;
}
@media only screen and (max-width: 990px) and (min-width: 772px) {
    #carmakerdiv{
        margin-bottom: 15px;
    }
    #carmodeldiv {
        margin-bottom: 15px;
    }

    #carbodytypediv {
        margin-bottom: 15px;
    }
}