.social-buttons
{
    margin-top: -50px;
}
.icon-resultat
{
	width: 50px;
}
.container-rateofmatch
{
	margin-top: -120px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 160px;
}
#spacer
{
	height: 100px;
}
.piechart
{
	background: white;
	-moz-border-radius: 50%/50%;
    -webkit-border-radius: 50% 50%;
    border-radius: 50%/50%;
    border: 1px solid #CCCCCC;

}
.choiceone
{
	border: 1px solid #cccccc;
	padding-bottom: 65px !important;
	margin-bottom: 25px !important;
}

.result-picture
{
	width: auto;
	max-width: 250px;
	height: auto;
	max-height: 100px;
}

.paralike
{
	font-size: 45px;
}

section
{
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

#spacerforresult{
	height: 120px;
}

#spaceforresultbig{
	height: 110px;
}

#spacerforresultsugod{
	height: 80px;
}