


.image-cropper {
  /* width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 3px 4px 6px #666666;
  -moz-box-shadow: 3px 4px 6px #666666;
  box-shadow: 3px 4px 6px #666666;
  padding: 2%;*/
}

#car-design {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.btn-deslike
{
  right: 15px;
  bottom: 0px;
  position: absolute;
  width: 50% !important;
  height: 50%;
}

.btn-like
{
 position: absolute;
 left: 0px;
 top: 0px;
  max-width: 50% !important;
 height: 50%;
}

.ui-slider .ui-slider-handle
{
  border: 11px solid #d9dde0 !important;
  /* width: 1em !important; */
  /* height: 1em; */
}