


.image-cropper {
  /* width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 3px 4px 6px #666666;
  -moz-box-shadow: 3px 4px 6px #666666;
  box-shadow: 3px 4px 6px #666666;
  padding: 2%;*/
}

#car-design {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.btn-deslike
{
  right: 15px;
  
  position: absolute;
  width: 50% !important;
  height: 50%;
}

.btn-like
{
 position: absolute;
 left: 0px;
 top: 0px;
  max-width: 50% !important;
 height: 50%;
}

.ui-slider .ui-slider-handle
{
  border: 11px solid #d9dde0 !important;
  /* width: 1em !important; */
  /* height: 1em; */
}
@media only screen and (max-width: 768px) {
  .btn-like img
  {
    width: 130px !important;
    margin-top: -40px;
  }
  .btn-deslike img
  {
    width: 130px !important;
  }
  .btn-deslike
  {
    bottom: -20px;
    position: absolute;
  }
}
@media screen and (max-device-width: 480px) and (orientation: portrait){
  .btn-like img
  {
    width: 100px !important;
    margin-top: -50px;
  }

  .btn-deslike img
  {
    width: 100px !important;
  }

  .btn-deslike
  {
    bottom: -30px;
    position: absolute;
  }

  #car-container-area
  {
    max-height: 800px;
    min-height: 200px;
    
  }
}
@media screen and (max-device-height: 800px) and (orientation: landscape){
  .btn-deslike
  {
    top: 0px;

    position: absolute;
  }
}
@media screen and (min-device-height: 800px) and (orientation: landscape){

  .btn-deslike
  {
    bottom: -80px;
  }
}