#img-map-area
{
	
}

#img-area-for-cars img
{
	max-height: 300px;
	max-width: 750px;
	width: auto;
	height: auto;
}
#button-test-drive
{
	position: absolute;
	top: 50px;
	right: 90px;
	z-index: 999;
	width: 50%;
	height: 10;
}

.btn-featured.btn-default
{
	background-color: #4BA5E2;
}

.container-rateofmatch
{
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 160px;
	position: absolute;
	z-index: 9;
	-moz-border-radius: 50%/50%;
	-webkit-border-radius: 50% 50%;
	border-radius: 50%/50%;
}

.piechart
{
	background: white;
	-moz-border-radius: 50%/50%;
	-webkit-border-radius: 50% 50%;
	border-radius: 50%/50%;
	border: 1px solid #CCCCCC;
	-webkit-box-shadow: 0 15px 10px rgba(0,0,0, .7);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
}
#circle-left-area
{
	border: 8px solid #4BA5E2;
	-moz-border-radius: 50%/50%;
	-webkit-border-radius: 50% 50%;
	border-radius: 50%/50%;
	width: 25em;
	height: 25em;
	margin-left:auto;
	margin-right: auto;
}
#cicle-right-area
{
	border: 8px solid #4BA5E2;
	-moz-border-radius: 50%/50%;
	-webkit-border-radius: 50% 50%;
	border-radius: 50%/50%;
	width: 25em;
	height: 25em;
	margin-left:auto;
	margin-right: auto;
}
.valign-middle-cell
{
	width: 25em;
	height: 25em;
	display: table-cell;
	vertical-align: middle;	
	left: 25px;
}
.valign-middle-cell ul 
{
	list-style:  none;
	margin-left: 0px !important;
	padding-left: 0px !important;
}

.paralike
{
	color: #444444;
	padding-left: 3em;
}

.paralike ul
{
	margin-bottom: 0px !important;
}

.paralike ul li
{
	list-style: none;
	text-align: left;
	padding-left: 3em;
}

.paradislike
{
	margin-top: 25px;
	color: #444444;
	padding-left: 3em;
}

.paradislike ul
{
	margin-bottom: 0px !important;
}

.paradislike ul li
{
	list-style: none;
	text-align: left;
	padding-left: 3em;
}

.breadcrumb{
	margin-top: 0px !important;
}
#similar-engine {
	text-align: center;
}
#similar-engine ul{
	display: inline-block;
	text-align: center;
}
#similar-engine ul li {
	display:table-cell;
	border: 1px solid #4BA5E2;
	width: 25em;
	margin-left:auto;
	margin-right: auto;
	box-shadow: 3px 3px 5px #888888;
}
#similar-engine ul li a{
	display: inline-block;
	color: #666;
	width: 100%;
}
#selected-engine
{
	border: 5px solid #4BA5E2 !important;
}

#similar-type {
	text-align: center;
}
#similar-type ul{
	display: inline-block;
	text-align: center;
}
#similar-type ul li {
	display:table-cell;
	border: 1px solid #4BA5E2;
	width: 25em;
	margin-left:auto;
	margin-right: auto;
	box-shadow: 3px 3px 5px #888888;
}
#similar-type ul li a{
	display: inline-block;
	color: #666;
	width: 100%;
}