.ui-slider-tip
{
  display: none;  
}


.ui-slider .ui-slider-handle:before
{
  display: none;
}


.slider-wrapper, .sliderv-wrapper
{
	background: #ffffff !important;
}

.black-slider .ui-slider .ui-slider-handle
{
	background: #eeeeee !important;
}

.black-slider .ui-slider .ui-slider-handle
{
	border-color: #ddd;
}

.moneyfigure
{
	font-size: 2.1em;
}

h4
{
	margin-bottom: 0px;
}

h4 a
{
	color: #4BA5E2 !important;
}

#price-div
{
	position: absolute;
	background: rgba(0,0,0, .8);
	width: 70px;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	z-index: 9;
	text-align: center;
}


#passenger-div
{
	position: absolute;
	background: rgba(0,0,0, .8);
	width: 70px;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	z-index: 9;
	text-align: center;
}
