.circle-shape
{
    -moz-border-radius: 50%/50%;
    -webkit-border-radius: 50%/50%;
    border-radius: 50%/50%;
    width: 80px;
    height: 80px;
    box-shadow:3px 5px 10px #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    vertical-align:middle;
}

.redcircle
{
    background: #ff5050;
    color: #ffffff;
}
.whitecircle
{
    background: #ffffff;
    color: #6F6F6F;
}


.circle-shape p
{
    height: inherit;
    width: inherit;
    vertical-align: middle;
    display: table-cell;
    
}

#cicle-shape-number
{
    font-size: 1.5em;
    font-weight: 600;
}

.box-static.box-border-top
{
    border-color: #666666;
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
    .circle-shape
    {
        position: fixed;
        bottom: 30px;
        right: 20px;
        z-index: 9999;
    }
}

i .fa .fa-info-circle
{
    color: #58ABE4 !important;
}

h4 a i {
    color: #58ABE4 !important;
}