.thebuttontoadvisory
{
    position: absolute;
    bottom: 50px;
}
.rev_slider video {pointer-events: none}
#slider video {
    pointer-events: none;
}
.tp-caption 
{
	text-shadow: none !important;
	color: #000000;
}
.fullcoveredvideo video, .fullscreenvideo video
{
	background: #ffffff !important;
}