<footer id="footer">			
	<div class="copyright">
		<div class="container">
			<ul class="pull-right nomargin list-inline mobile-block">
				<li><a href="<?=base_url();?>">Home</a></li>
				<li>&bull;</li>
				<li><a href="<?=base_url('deinegrundlagen');?>">Datenbank</a></li>
				<li>&bull;</li>
				<li><a href="http://13.76.32.145/aboutus/">Über Uns</a></li>
				<li>&bull;</li>
				<li><a href="http://13.76.32.145/contactus/">Kontakt</a></li>
				<li>&bull;</li>
				<li><a href="<?=base_url('pages/termsandconditions');?>">Geschäftsbedingungen</a></li>
				<li>&bull;</li>
				<li><a href="<?=base_url('pages/privacy');?>">Privatsphäre</a></li>
			</ul>
			&copy; Alle Rechte Vorbehalten, Cococar 
		</div>
	</div>
</footer>