<!DOCTYPE html>
<html lang="de">
  
    <head>
        <meta charset="utf-8" />
        <title><?= isset($display['page-title']) ? $display['page-title'] : 'Home' ?> - COCOCAR</title>
        <meta name="keywords" content="Cococar, car template, car" />
        <meta name="description" content="" />
        <meta name="Author" content="Edison Quinones" />
        <base href="<?=base_url();?>">

                <meta property="og:url"           content="http://13.95.235.145/" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Finden Sie das passende Auto für Sie" />
        <meta property="og:description"   content="Finden Sie das passende Auto für Sie. Wir helfen Ihnen, das richtige Fahrzeug für Sie zu finden." />
        <meta property="og:image"         content="http://13.95.235.145/assets/images/logo_dark.png" />


        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

        <!-- WEB FONTS : use %7C instead of | (pipe) -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

        <!-- CORE CSS -->
        <link href="<?=base_url("assets/plugins/bootstrap/css/bootstrap.min.css");?>" rel="stylesheet" type="text/css" />

        <!-- SWIPER SLIDER -->
        <link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />

        <!-- THEME CSS -->
        <link href="<?=base_url("assets/css/essentials.css");?>" rel="stylesheet" type="text/css" />
        <link href="<?=base_url("assets/css/layout.css");?>" rel="stylesheet" type="text/css" />

        <!-- PAGE LEVEL SCRIPTS -->
        <link href="<?=base_url("assets/css/header-1.css");?>" rel="stylesheet" type="text/css" />
        <link href="<?=base_url("assets-custom/css/cococar.css");?>" rel="stylesheet" type="text/css" id="color_scheme" />

        <script type="text/javascript" >
            var BASEURLL = '<?=base_url();?>';
        </script>

        <link rel="shortcut icon" href="<?=base_url("cococar-favicon.ico");?>" type="image/x-icon" >

        <!-- REVOLUTION SLIDER -->
        <link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

    </head>
 
    <body class="smoothscroll enable-animation">
 
      

 
        <div id="wrapper">
            <div id="header" class="sticky  header-md  clearfix">
                <header id="topNav">
                    <div class="container">
                        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- BUTTONS -->
                        <ul class="pull-right nav nav-pills nav-second-main">

                            


                        </ul>
                        <!-- /BUTTONS -->

                        <!-- Logo -->
                        <a class="pull-left" href="<?=base_url();?>" >
                            <img src="assets-custom/images/cococar-logo-md-trans.png" alt="" id="cococar-logo" />
                        </a>

                        <!-- 
                            Top Nav 
                            
                            AVAILABLE CLASSES:
                            submenu-dark = dark sub menu
                        -->
                        <?php $this->load->view('templates/nav-main.phtml'); ?>
                        

                    </div>
                </header>
            </div> 

            <?php
                if (!empty($view) and file_exists(APPPATH . 'views/' . $view . '.phtml')):
                    $this->load->view($view . '.phtml');
                else:
                    $this->load->view('templates/advisoryprocess/blank.phtml');
                endif;
            ?>

            

            

            
        </div>
  
 
        <!-- FOOTER -->
        <?php $this->load->view('templates/footer.phtml'); ?>
        <!-- /FOOTER -->
 
        <!-- SCROLL TO TOP -->
        <a href="#" id="toTop"></a>


        <!-- PRELOADER -->
        <div id="preloader">
            <div class="inner">
                <span class="loader"></span>
            </div>
        </div><!-- /PRELOADER -->


        <!-- JAVASCRIPT FILES -->
        <script type="text/javascript">var plugin_path = 'assets/plugins/';</script>
        <script type="text/javascript" src="assets/plugins/jquery/jquery-2.2.3.min.js"></script>

        <script type="text/javascript" src="assets/js/scripts.js"></script>
        

        <!-- REVOLUTION SLIDER -->
        <script type="text/javascript" src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="assets/js/view/demo.revolution_slider.js"></script>

        <!-- in-PAGE JAVASCRIPT FILES -->
        <?php
            if (!empty($viewjs) and file_exists(APPPATH . 'views/' . $viewjs . '.phtml')):
                $this->load->view($viewjs . '.phtml');
            else:
                $this->load->view('templates/advisoryprocess/blank.phtml');
            endif;
        ?>
 
    </body>
</html>