<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title><?= isset($display['page-title']) ? $display['page-title'] : 'Home' ?> - COCOCAR</title>
        <meta name="keywords" content="HTML5,CSS3,Template" />
        <meta name="description" content="" />
        <meta name="Author" content="Edison Quinones" />
        <base href="<?=base_url();?>">

        <!-- facebook -->
        <meta property="og:url"           content="http://13.95.235.145/" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Finden Sie das passende Auto für Sie" />
        <meta property="og:description"   content="Finden Sie das passende Auto für Sie. Wir helfen Ihnen, das richtige Fahrzeug für Sie zu finden." />
        <meta property="og:image"         content="http://13.95.235.145/assets/images/logo_dark.png" />



        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

        <!-- WEB FONTS : use %7C instead of | (pipe) -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

        <link rel="shortcut icon" href="<?=base_url("cococar-favicon.ico");?>" type="image/x-icon" >

        <!-- CORE CSS -->
        <link href="<?=base_url("assets/plugins/bootstrap/css/bootstrap.min.css");?>" rel="stylesheet" type="text/css" />
        
        <!-- THEME CSS -->
        <link href="<?=base_url("assets/css/essentials.css");?>" rel="stylesheet" type="text/css" />
        <link href="<?=base_url("assets/css/layout.css");?>" rel="stylesheet" type="text/css" />

        <!-- PAGE LEVEL SCRIPTS -->
        <link href="<?=base_url("assets/css/header-1.css");?>" rel="stylesheet" type="text/css" />
        <link href="<?=base_url("assets-custom/css/cococar.css");?>" rel="stylesheet" type="text/css" id="color_scheme" />
        <script type="text/javascript" >
            var BASEURLL = '<?=base_url();?>';
        </script>

    </head>

    <!--
        AVAILABLE BODY CLASSES:
        
        smoothscroll            = create a browser smooth scroll
        enable-animation        = enable WOW animations
        
        bg-grey                 = grey background
        grain-grey              = grey grain background
        grain-blue              = blue grain background
        grain-green             = green grain background
        grain-blue              = blue grain background
        grain-orange            = orange grain background
        grain-yellow            = yellow grain background
        
        boxed                   = boxed layout
        pattern1 ... patern11   = pattern background
        menu-vertical-hide      = hidden, open on click
        
        BACKGROUND IMAGE [together with .boxed class]
        data-background="assets/images/boxed_background/1.jpg"
    -->
    <body class="smoothscroll enable-animation">



        <!-- SLIDE TOP -->
        <div id="slidetop">

            <div class="container">
                
                <div class="row">

                    <div class="col-md-4">
                        <h6><i class="icon-heart"></i> WHY COCOCAR?</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. </p>
                    </div>

                    <div class="col-md-4">
                        <h6><i class="icon-attachment"></i> RECENTLY VISITED</h6>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> This is a very long text, very very very very very very very very very very very very </a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Dolor sit amet,consectetur adipiscing elit amet</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet,consectetur adipiscing elit</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h6><i class="icon-envelope"></i> CONTACT INFO</h6>
                        <ul class="list-unstyled">
                            <li><b>Address:</b> PO Box 21132, Here Weare St, <br /> Melbourne, Vivas 2355 Australia</li>
                            <li><b>Phone:</b> 1-800-565-2390</li>
                            <li><b>Email:</b> <a href="mailto:support@yourname.com">support@yourname.com</a></li>
                        </ul>
                    </div>

                </div>

            </div>

            <a class="slidetop-toggle" href="javascript:void(0);"><!-- toggle button --></a>

        </div>
        <!-- /SLIDE TOP -->


        <!-- wrapper -->
        <div id="wrapper">


            <!-- 
                AVAILABLE HEADER CLASSES

                Default nav height: 96px
                .header-md      = 70px nav height
                .header-sm      = 60px nav height

                .noborder       = remove bottom border (only with transparent use)
                .transparent    = transparent header
                .translucent    = translucent header
                .sticky         = sticky header
                .static         = static header
                .dark           = dark header
                .bottom         = header on bottom
                
                shadow-before-1 = shadow 1 header top
                shadow-after-1  = shadow 1 header bottom
                shadow-before-2 = shadow 2 header top
                shadow-after-2  = shadow 2 header bottom
                shadow-before-3 = shadow 3 header top
                shadow-after-3  = shadow 3 header bottom

                .clearfix       = required for mobile menu, do not remove!

                Example Usage:  class="clearfix sticky header-sm transparent noborder"
            -->
            <div id="header" class="clearfix header-md static">

                <!-- TOP NAV -->
                <header id="topNav">
                    <div class="container">

                        <!-- Mobile Menu Button -->
                        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- BUTTONS -->
                        <ul class="pull-right nav nav-pills nav-second-main">

                            <!-- SEARCH -->
                            <li class="search">
                                <a href="javascript:;">
                                    <i class="fa fa-search"></i>
                                </a>
                                <div class="search-box">
                                    <form action="page-search-result-1.html" method="get">
                                        <div class="input-group">
                                            <input type="text" name="src" placeholder="Search" class="form-control" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit">Search</button>
                                            </span>
                                        </div>
                                    </form>
                                </div> 
                            </li>
                            <!-- /SEARCH -->

                            <!-- QUICK SHOP CART -->
                            <!--<li class="quick-cart">
                                <a href="#">
                                    <span class="badge badge-aqua btn-xs badge-corner">2</span>
                                    <i class="fa fa-shopping-cart"></i> 
                                </a>
                                <div class="quick-cart-box">
                                    <h4>Shop Cart</h4>

                                    <div class="quick-cart-wrapper">

                                        <a href="#"> -->
                                            <!-- cart item -->
                                            <!--<img src="assets/images/demo/people/300x300/4-min.jpg" width="45" height="45" alt="" />
                                            <h6><span>2x</span> RED BAG WITH HUGE POCKETS</h6>
                                            <small>$37.21</small>
                                        </a> --><!-- /cart item -->

                                        <!--<a href="#">--><!-- cart item -->
                                            <!--<img src="assets/images/demo/people/300x300/5-min.jpg" width="45" height="45" alt="" />
                                            <h6><span>2x</span> THIS IS A VERY LONG TEXT AND WILL BE TRUNCATED</h6>
                                            <small>$17.18</small>
                                        </a><!-- /cart item -->

                                        <!-- cart no items example -->
                                        <!--
                                        <a class="text-center" href="#">
                                            <h6>0 ITEMS ON YOUR CART</h6>
                                        </a>
                                        -->

                                    <!--</div>-->

                                    <!-- quick cart footer -->
                                    <!--<div class="quick-cart-footer clearfix">
                                        <a href="shop-cart.html" class="btn btn-primary btn-xs pull-right">VIEW CART</a>
                                        <span class="pull-left"><strong>TOTAL:</strong> $54.39</span>
                                    </div>
                                    <!-- /quick cart footer -->

                                <!--</div>
                            </li>
                            <!-- /QUICK SHOP CART -->

                        </ul>
                        <!-- /BUTTONS -->

                        <!-- Logo -->
                        <a class="pull-left" href="<?=base_url();?>" >
                            <?php // <img src="assets/images/logo_dark.png" alt="" id="cococar-logo" /> ?>
                            <img src="assets-custom/images/cococar-logo-md-trans.png" alt="" id="cococar-logo" />
                        </a>

                        <!-- 
                            Top Nav 
                            
                            AVAILABLE CLASSES:
                            submenu-dark = dark sub menu
                        -->
                        <?php $this->load->view('templates/nav-main.phtml'); ?>
                        

                    </div>
                </header>
                <!-- /Top Nav -->

            </div>


            <!-- 
                PAGE HEADER 
                
                CLASSES:
                    .page-header-xs = 20px margins
                    .page-header-md = 50px margins
                    .page-header-lg = 80px margins
                    .page-header-xlg= 130px margins
                    .dark           = dark page header

                    .shadow-before-1    = shadow 1 header top
                    .shadow-after-1     = shadow 1 header bottom
                    .shadow-before-2    = shadow 2 header top
                    .shadow-after-2     = shadow 2 header bottom
                    .shadow-before-3    = shadow 3 header top
                    .shadow-after-3     = shadow 3 header bottom
            -->
            <section class="page-header page-header-xs">
                <div class="container">
                    <div class="hidden-sm hidden-md" id="headspace">&nbsp;</div>
                    <h1><?=$display['page-title'];?></h1>

                    <!-- breadcrumbs -->
                    <ol class="breadcrumb">
                        <?php
                            $counter = 1;
                            $endofcount = count($display['breadcrumbs']); 
                        ?>
                        <?php foreach ($display['breadcrumbs'] as $key => $value): ?>
                            <li><a class="<?=$counter==$endofcount ? 'active' : '';?>" href="<?=$value;?>"><?=$key;?></a></li>
                            <?php $counter++;?>
                        <?php endforeach; ?>
                    </ol><!-- /breadcrumbs -->

                </div>
            </section>
            <!-- /PAGE HEADER -->

        

            <!-- -->
            <section>
                <div class="container" id="thecontent">
                    <!-- progress bar -->
                    <?php
                        if (!empty($view) and file_exists(APPPATH . 'views/' . $view . '.phtml')):
                            $this->load->view($view . '.phtml');
                        else:
                            $this->load->view('templates/advisoryprocess/blank.phtml');
                        endif;
                    ?>
                </div>
            </section>
            <!-- / -->





            <!-- FOOTER -->
            <?php $this->load->view('templates/footer.phtml'); ?>
            <!-- /FOOTER -->

        </div>
        <!-- /wrapper -->


        <!-- SCROLL TO TOP -->
        <a href="#" id="toTop"></a>


        <!-- PRELOADER -->
        <div id="preloader">
            <div class="inner">
                <span class="loader"></span>
            </div>
        </div><!-- /PRELOADER -->


        <!-- THEME JAVASCRIPT FILES -->
        <script type="text/javascript">var plugin_path = 'assets/plugins/';</script>
        <script type="text/javascript" src="assets/plugins/jquery/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="assets/js/scripts.js"></script>
        
        <!-- / -->

        <!-- in-PAGE JAVASCRIPT FILES -->
        <?php
            if (!empty($viewjs) and file_exists(APPPATH . 'views/' . $viewjs . '.phtml')):
                $this->load->view($viewjs . '.phtml');
            else:
                $this->load->view('templates/advisoryprocess/blank.phtml');
            endif;
        ?>
        
    </body>
</html>