<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
	<nav class="nav-main">

        <!--
            NOTE
            
            For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
            Direct Link Example: 

            <li>
                <a href="#">HOME</a>
            </li>
        -->
        <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
            <li class="<?=strcmp($display['active-page'],'home')==0 ?  'active' : '' ?>"><!-- HOME -->
                <a href="<?=base_url();?>">
                    HOME
                </a>
            </li>
            <li class="<?=strcmp($display['active-page'],'datenbank')==0 ?  'active' : '' ?>">
                <a href="<?=base_url('datenbank');?>">
                    DATENBANK
                </a>
            </li>
            <li><!-- PRICING -->
                <a href="http://13.76.32.145/aboutus/">
                    ÜBER UNS
                </a>
            </li>
            <li><!-- TESTIMONIALS -->
                <a href="http://13.76.32.145/contactus/">
                    KONTACT
                </a>
            </li>                                    
        </ul>

    </nav>
</div>