<h1>Individuelle Beratung!</h1>
<p>Hallo Manschaft!,
</p>
<p>Jemand um persönliche Beratung gebeten.</p>
<p>Vollständiger Name: <?=$emailData['contact']['full_name']?><br>
<p>Email: <?=$emailData['contact']['email']?><br>
<p>Telefon: <?=$emailData['contact']['phone']?><br>
<p>Nachrichten: <?=$emailData['contact']['messages']?><br>
</p>
<p>More information: <a href="<?=base_url('individualadvice/moreinformation?id='.$emailData['customerinfo']['idcustomer_information']);?>"><?=base_url('individualadvice/moreinformation?id='.$emailData['customerinfo']['idcustomer_information']);?></a>
	<br>
	Alle Beratungsanfragen anzeigen: <a href="<?=base_url('individualadvice');?>"><?=base_url('individualadvice');?></a>
</p>