<h1>Probefahrt!</h1>
<p>Hallo Manschaft!,
</p>
<p>Jemand will eine Probefahrt machen.</p>
<p>Vollständiger Name: <?=$emailData['testdriveappointment']['full_name']?><br>
<p>Email: <?=$emailData['testdriveappointment']['email']?><br>
<p>Telefon: <?=$emailData['testdriveappointment']['phone']?><br>
<p>Nachrichten: <?=$emailData['testdriveappointment']['messages']?><br>
<p>Appointment: <?=date('F d, o', strtotime($emailData['testdriveappointment']['appointmentdate']));?><br>
</p>
<p>More information: <a href="<?=base_url('testdrive/moreinformation?id='.$emailData['customerinfo']['idcustomer_appointment']);?>"><?=base_url('testdrive/moreinformation?id='.$emailData['customerinfo']['idcustomer_appointment']);?></a>
	<br>
	Alle Beratungsanfragen anzeigen: <a href="<?=base_url('testdrive/all');?>"><?=base_url('testdrive/all');?></a>
</p>