<?php
// print_r($display);
?>
<!-- H1 -->
<div class="heading-title heading-border-bottom heading-color">
    <h1>All test drive<span> appointment list</span></h1>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Full name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Appointment date</th>
                <th>Messages</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($display['arrayData'] as $value): ?>
             <tr>
                <td><a href="<?=base_url('testdrive/moreinformation?id='.$value->idcustomer_appointment);?>"><?=$value->fullname?></a></td>
                <td><a href="<?=base_url('testdrive/moreinformation?id='.$value->idcustomer_appointment);?>"><?=$value->email?></a></td>
                <td><a href="<?=base_url('testdrive/moreinformation?id='.$value->idcustomer_appointment);?>"><?=$value->phone?></a></td>
                <td><a href="<?=base_url('testdrive/moreinformation?id='.$value->idcustomer_appointment);?>"><?=$value->appointmentdate?></a></td>
                <td><a href="<?=base_url('testdrive/moreinformation?id='.$value->idcustomer_appointment);?>"><?=$value->message?></a></td>
            </tr> 
            <?php endforeach; ?>
        </tbody>
    </table>
</div>