<?php
// print_r($display['arrayData']['testdrive-contact']);
?>
<!-- H1 -->
<div class="heading-title heading-border-bottom heading-color">
    <h1>Test drive request for <span> <?=$display['arrayData']['testdrive-contact']->make?> <?=$display['arrayData']['testdrive-contact']->model?></span></h1>
</div>


<?php
// print_r($display['arrayData']);
?>
<p>
    Fullname: <?=$display['arrayData']['testdrive-contact']->fullname?><br>
    Appointment: <?=date('F d, o',strtotime($display['arrayData']['testdrive-contact']->appointmentdate));?><br>
    Email: <?=$display['arrayData']['testdrive-contact']->email?><br>
    Phone: <?=$display['arrayData']['testdrive-contact']->phone?><br>
    Message: <br><?=$display['arrayData']['testdrive-contact']->message?><br>
</p>
<?php if (!empty($display['arrayData']['testdrive-contact']->model)): ?>
<h4>Car for test drive</h4>
<p>
    <?=$display['arrayData']['testdrive-contact']->make?> <?=$display['arrayData']['testdrive-contact']->model?><br>
    Engine: <?=$display['arrayData']['testdrive-contact']->engine?><br>
    Model variant: <?=$display['arrayData']['testdrive-contact']->modelvariant?><br>
    Equipment: <?=$display['arrayData']['testdrive-contact']->equipment?><br>
    Generation: <?=$display['arrayData']['testdrive-contact']->generation?><br>
    Body: <?=$display['arrayData']['testdrive-contact']->body?><br>
    Seats: <?=$display['arrayData']['testdrive-contact']->seats?><br>
    Propulsion: <?=$display['arrayData']['testdrive-contact']->propulsion?><br>
    Power: <?=$display['arrayData']['testdrive-contact']->power?><br>
    Fuel: <?=$display['arrayData']['testdrive-contact']->fuel?><br>
    Fuel type: <?=$display['arrayData']['testdrive-contact']->fueltype?><br>
</p>
<?php endif; ?>
<h4>Desired car or option</h4>
<p>
    Desired Price: <?=number_format($display['arrayData']['testdrive-contact']->oprice, 2, ',', '.'); ?><br>
    Passengers: <?=$display['arrayData']['testdrive-contact']->opassengers?><br>
    Make: <?=$display['arrayData']['testdrive-contact']->omake?><br>
    Model: <?=$display['arrayData']['testdrive-contact']->omodel?><br>
    Bodytype: <?=$display['arrayData']['testdrive-contact']->otype?><br>
    Generation: <?=$display['arrayData']['testdrive-contact']->ogeneration?><br>
    <br>
    Safety: <?=$display['arrayData']['testdrive-contact']->osafety?><br>
    Fuel Consumption: <?=$display['arrayData']['testdrive-contact']->ofuel?><br>
    Space: <?=$display['arrayData']['testdrive-contact']->ospace?><br>
    Comfort: <?=$display['arrayData']['testdrive-contact']->ocomfort?><br>
    Power train: <?=$display['arrayData']['testdrive-contact']->opower?><br>
    Handiness: <?=$display['arrayData']['testdrive-contact']->ohandling?><br>
    Reliability: <?=$display['arrayData']['testdrive-contact']->oreliable?><br>
    Multimedia: <?=$display['arrayData']['testdrive-contact']->omedia?>
</p>
<?php if (!empty($display['arrayData']['makes'])): ?>
<h4>Makes selected</h4>
<ul>
<?php foreach ($display['arrayData']['makes'] as $value): ?>
    <li><?=$value->maker?></li>
<?php endforeach; ?>
</ul>
<?php endif; ?>
<?php if (!empty($display['arrayData']['design'])): ?>
<h4>Car list</h4>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Engine</th>
                <th>Generation</th>
                <th>Body</th>
                <th>Compatibility</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($display['arrayData']['design'] as $value): ?>
            <tr>
                <td><?=$value->make?></a></td>
                <td><?=$value->model?></a></td>
                <td><?=$value->engine?></a></td>
                <td><?=$value->generation?></a></td>
                <td><?=$value->body?></a></td>
                <td><?=(100*$value->compatibility)?> %</td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
<?php endif; ?>