<!DOCTYPE html>
<html lang="de">
  
    <head>
        <meta charset="utf-8" />
        <title><?= isset($display['page-title']) ? $display['page-title'] : 'Home' ?> - COCOCAR</title>
        <meta name="keywords" content="Cococar, car template, car" />
        <meta name="description" content="" />
        <meta name="Author" content="Edison Quinones" />
        <base href="<?=base_url();?>">

        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

        <!-- WEB FONTS : use %7C instead of | (pipe) -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

        <!-- CORE CSS -->
        <link href="<?=base_url("assets/plugins/bootstrap/css/bootstrap.min.css");?>" rel="stylesheet" type="text/css" />

        <!-- SWIPER SLIDER -->
        <link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />

        <!-- THEME CSS -->
        <link href="<?=base_url("assets/css/essentials.css");?>" rel="stylesheet" type="text/css" />
        <link href="<?=base_url("assets/css/layout.css");?>" rel="stylesheet" type="text/css" />

        <!-- PAGE LEVEL SCRIPTS -->
        <link href="<?=base_url("assets/css/header-1.css");?>" rel="stylesheet" type="text/css" />
        <link href="<?=base_url("assets-custom/css/cococar.css");?>" rel="stylesheet" type="text/css" id="color_scheme" />

        <link rel="shortcut icon" href="<?=base_url("cococar-favicon.ico");?>" type="image/x-icon" >

        <!-- REVOLUTION SLIDER -->
        <link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

    </head>
 
    <body class="smoothscroll enable-animation">
 
        <!-- SLIDE TOP -->
        <div id="slidetop">

            <div class="container">
                
                <div class="row">

                    <div class="col-md-4">
                        <h6><i class="icon-heart"></i> WHY COCOCAR?</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. </p>
                    </div>

                    <div class="col-md-4">
                        <h6><i class="icon-attachment"></i> RECENTLY VISITED</h6>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> This is a very long text, very very very very very very very very very very very very </a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Dolor sit amet,consectetur adipiscing elit amet</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet,consectetur adipiscing elit</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h6><i class="icon-envelope"></i> CONTACT INFO</h6>
                        <ul class="list-unstyled">
                            <li><b>Address:</b> PO Box 21132, Here Weare St, <br /> Melbourne, Vivas 2355 Australia</li>
                            <li><b>Phone:</b> 1-800-565-2390</li>
                            <li><b>Email:</b> <a href="mailto:support@yourname.com">support@yourname.com</a></li>
                        </ul>
                    </div>

                </div>

            </div>

            <a class="slidetop-toggle" href="javascript:void(0);"><!-- toggle button --></a>

        </div>
        <!-- /SLIDE TOP -->

 
        <div id="wrapper">
            <div id="header" class="sticky  header-md  clearfix">
                <header id="topNav">
                    <div class="container">
                        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- BUTTONS -->
                        <ul class="pull-right nav nav-pills nav-second-main">

                            <!-- SEARCH -->
                            <li class="search">
                                <a href="javascript:;">
                                    <i class="fa fa-search"></i>
                                </a>
                                <div class="search-box">
                                    <form action="page-search-result-1.html" method="get">
                                        <div class="input-group">
                                            <input type="text" name="src" placeholder="Search" class="form-control" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit">Search</button>
                                            </span>
                                        </div>
                                    </form>
                                </div> 
                            </li>
                            <!-- /SEARCH -->


                        </ul>
                        <!-- /BUTTONS -->

                        <!-- Logo -->
                        <a class="pull-left" href="index.html">
                            <img src="assets/images/logo_light.png" alt="" />
                        </a>

                        <!-- 
                            Top Nav 
                            
                            AVAILABLE CLASSES:
                            submenu-dark = dark sub menu
                        -->
                        <?php $this->load->view('templates/nav-main.phtml'); ?>
                        

                    </div>
                </header>
            </div> 

            <?php
                if (!empty($view) and file_exists(APPPATH . 'views/' . $view . '.phtml')):
                    $this->load->view($view . '.phtml');
                else:
                    $this->load->view('templates/advisoryprocess/blank.phtml');
                endif;
            ?>

            

            

            
        </div>
  
 
        <!-- FOOTER -->
        <footer id="footer">
            

            <div class="copyright">
                <div class="container">
                    <ul class="pull-right nomargin list-inline mobile-block">
                        <li><a href="javascript:void(0);">Home</a></li>
                        <li>&bull;</li>
                        <li><a href="javascript:void(0);">Datenbank</a></li>
                        <li>&bull;</li>
                        <li><a href="javascript:void(0);">Über Uns</a></li>
                        <li>&bull;</li>
                        <li><a href="javascript:void(0);">Kontakt</a></li>
                        <li>&bull;</li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li>&bull;</li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                    &copy; Alle Rechte Vorbehalten, Cococar 
                </div>
            </div>
        </footer>
        <!-- /FOOTER -->
 
        <!-- SCROLL TO TOP -->
        <a href="#" id="toTop"></a>


        <!-- PRELOADER -->
        <div id="preloader">
            <div class="inner">
                <span class="loader"></span>
            </div>
        </div><!-- /PRELOADER -->


        <!-- JAVASCRIPT FILES -->
        <script type="text/javascript">var plugin_path = 'assets/plugins/';</script>
        <script type="text/javascript" src="assets/plugins/jquery/jquery-2.2.3.min.js"></script>

        <script type="text/javascript" src="assets/js/scripts.js"></script>
        

        <!-- REVOLUTION SLIDER -->
        <script type="text/javascript" src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="assets/js/view/demo.revolution_slider.js"></script>

        <!-- in-PAGE JAVASCRIPT FILES -->
        <?php
            if (!empty($viewjs) and file_exists(APPPATH . 'views/' . $viewjs . '.phtml')):
                $this->load->view($viewjs . '.phtml');
            else:
                $this->load->view('templates/advisoryprocess/blank.phtml');
            endif;
        ?>
 
    </body>
</html>