<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title><?= isset($title) ? $title : 'Home' ?> - Cococar ltd</title>
</head>

<body>
	<?php
	if (!empty($view) and file_exists(APPPATH . '/views/' . $view . '.phtml')):
	  $this->load->view($view . '.phtml');
	else:
	  $this->load->view('empty.phtml');
	endif;
	?>
<p> Cheers,<br>
  The Cococar ltd<br>
  <br>
</p>
<?php if (isset($footerEmail)):?>
	<h4>
		This message was intended for <?php echo $footerEmail; ?> and was sent to you by Cococar ltd.
	Cococar ltd respects your privacy. For more information, please review our <a href="<?php echo base_url('privacy');?>">Privacy Policy</a>.
	</h4>
<?php endif ; ?>
<h5>Copyright 2016 Cococar LTD. All rights reserved. 
</h5>
</body>
</html>