<!-- H1 -->
<div class="heading-title heading-border-bottom heading-color">
    <h1>Individual advice <span>list</span></h1>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Full name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Messages</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($display['arrayData'] as $value): ?>
            <tr>
                <td><a href="<?=base_url('individualadvice/moreinformation?id='.$value->idcustomer_information);?>"><?=$value->fullname?></a></td>
                <td><a href="<?=base_url('individualadvice/moreinformation?id='.$value->idcustomer_information);?>"><?=$value->email?></a></td>
                <td><a href="<?=base_url('individualadvice/moreinformation?id='.$value->idcustomer_information);?>"><?=$value->phone?></a></td>
                <td><a href="<?=base_url('individualadvice/moreinformation?id='.$value->idcustomer_information);?>"><?=$value->message?></a></td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>