<!-- H1 -->
<div class="heading-title heading-border-bottom heading-color">
    <h1>Individual advice <span>list</span></h1>
</div>


<?php
// print_r($display['arrayData']);
?>
<?php if (!empty($display['arrayData']['customer'])): ?>
<p>
    Fullname: <?=$display['arrayData']['customer']->fullname?><br>
    Email: <?=$display['arrayData']['customer']->email?><br>
    Phone:<?=$display['arrayData']['customer']->phone?><br>
    Message: <br><?=$display['arrayData']['customer']->message?><br>
</p>
<?php endif; ?>
<h4>Desired car or option</h4>
<p>
    Desired Price: <?=number_format($display['arrayData']['options']->price, 2, ',', '.'); ?><br>
    Passengers: <?=$display['arrayData']['options']->passengers?><br>
    Make: <?=$display['arrayData']['options']->maker?><br>
    Model: <?=$display['arrayData']['options']->model?><br>
    Bodytype: <?=$display['arrayData']['options']->bodytype?><br>
    Generation: <?=$display['arrayData']['options']->generation?><br>
    <br>
    Safety: <?=$display['arrayData']['options']->safety?><br>
    Fuel Consumption: <?=$display['arrayData']['options']->fuelconsumption?><br>
    Space: <?=$display['arrayData']['options']->space?><br>
    Comfort: <?=$display['arrayData']['options']->comfort?><br>
    Power train: <?=$display['arrayData']['options']->powertrain?><br>
    Handiness: <?=$display['arrayData']['options']->handiness?><br>
    Reliability: <?=$display['arrayData']['options']->reliability?><br>
    Multimedia: <?=$display['arrayData']['options']->multimedia?>
</p>
<?php if (!empty($display['arrayData']['makes'])): ?>
<h4>Makes selected</h4>
<ul>
<?php foreach ($display['arrayData']['makes'] as $value): ?>
    <li><?=$value->maker?></li>
<?php endforeach; ?>
</ul>
<?php endif; ?>
<?php if (!empty($display['arrayData']['design'])): ?>
<h4>Car list</h4>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Engine</th>
                <th>Generation</th>
                <th>Body</th>
                <th>Compatibility</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($display['arrayData']['design'] as $value): ?>
            <tr>
                <td><?=$value->make?></a></td>
                <td><?=$value->model?></a></td>
                <td><?=$value->engine?></a></td>
                <td><?=$value->generation?></a></td>
                <td><?=$value->body?></a></td>
                <td><?=(100*$value->compatibility)?> %</td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
<?php endif; ?>